[2019-02-05 09:08] AlanFoster opened #23 "Gracefully handle more Ruby versions other than 2.6"
When running with Ruby 2.6 everything seems well, but with Ruby 2.5 it crashes:

[code]

[2019-02-05 09:24] AlanFoster opened #26 "Single quotes not formatted correctly"
Hey, I ran into an issue when formatting single quotes

## Input file

[code]

## Current output file

[code]

## Expected output file

Current prettier for JS formats this with double quotes still

[code]

[2019-02-05 09:31] AlanFoster opened #27 "Comment handling on hashes"
Prettier doesn't seem to handle the scenario of comments on hashes

## Input file

[code]

## Current output file

Crashes:

[code]

## Expected output file

[code]

[2019-02-05 09:42] AlanFoster opened #28 "Crashes on class methodcall"
## Input file

[code]

## Current output file

[code]

## Expected output file

[code]

[2019-02-05 09:56] AlanFoster opened #29 "Crashes on predicate expression"
## Input file

[code]

## Current output file

Crashes:

[code]

## Expected output file

[code]

[2019-02-05 09:58] AlanFoster opened #30 "Comment handling on arrays"
Prettier doesn't seem to handle the scenario of comments on arrays

## Input file

[code]

## Current output file

Crashes:

[code]

## Expected output file

[code]

[2019-02-05 10:18] AlanFoster opened #31 "Crashes on or statement with initializer call"
## Input file

[code]

## Current output file

Crashes:

[code]

## Expected output file

[code]

[2019-02-05 10:22] AlanFoster commented on #31
Hm, after further poking - this might just be an initialiser call in general that causes the crash:

Input:

[code]

[2019-02-05 12:45] kddeisz commented on #31
I'm going to close this in favor of the PR that's open about supporting multiple Rubies as this passes in 2.6

[2019-02-05 12:45] #31 closed

[2019-02-05 12:53] #28 closed

[2019-02-05 12:53] kddeisz commented on #29
Also closing this because it passes in Ruby 2.6 and we need to handle more versions

[2019-02-05 12:53] #29 closed

[2019-02-05 12:54] kddeisz commented on #23
Closing this in favor of just keeping #24 open

[2019-02-05 12:54] #23 closed

[2019-02-05 14:02] #26 closed

[2019-02-05 14:44] kddeisz commented on #30
This now passes, but generates `['hello world'] # Foo bar`. Probably room for improvement on that later.

[2019-02-05 14:44] #30 closed

[2019-02-05 14:45] kddeisz commented on #27
This now passes, but generates `{ hello: 'world' } # Foo bar`. Probably room for improvement on that later.

[2019-02-05 14:45] #27 closed

[2019-02-05 14:51] AlanFoster commented on #27
@kddeisz Thanks for the quick response; Would that correctly format something like this?

[code]

That's just a quick example I've taken from the Rail's docs

[2019-02-05 14:52] kddeisz commented on #27
At the moment that results in:

[code]

[2019-02-05 14:52] kddeisz commented on #27
which is... incorrect to say the least

[2019-02-05 14:53] kddeisz commented on #27
I'm going to open a biggest meta one for comments as a whole

[2019-02-05 15:01] kddeisz opened #32 "Better inline comment support"
At the moment, there are 3 types of comments, all handled somewhat differently.

- `@start_comments` - these are comments that go at the very beginning of the file before any code. To my knowledge these are working correctly atm. An example would be:

[code]

- `@begin_comments` - these are comments that are the first statement within a block. To my knowledge these are working correctly atm. Examp

[2019-02-05 15:04] kddeisz commented on #27
@AlanFoster If you want something to work on, I've opened https://github.com/kddeisz/prettier-ruby/issues/32 which has the whole overall thing.

[2019-02-05 15:50] AlanFoster opened #33 "Better heredoc handling"
## Input file

[code]

## Current output file

[code]

## Expected output file

[code]

[2019-02-05 15:56] AlanFoster commented on #33
Another example that doesn't get formatted great:

[code]

[2019-02-05 16:05] AlanFoster opened #34 "Crash on splat operator within array"
## Input file

[code]

## Current output file

[code]

## Expected output file

[code]

[2019-02-05 16:12] AlanFoster opened #35 "Ternary handling edge cases"
## Input file

[code]

## Current output file

[code]

## Expected output file

[code]

[2019-02-05 16:12] AlanFoster commented on #35
## Input file

[code]

## Current output file

[code]

## Expected output file

[code]

[2019-02-05 16:17] AlanFoster opened #36 "Guard clause crashes when"
## Input file

[code]

## Current output file

[code]

## Expected output file

[code]

[2019-02-05 16:18] AlanFoster commented on #36
Note, the original scenario was a guard clause - roughly:

[code]

[2019-02-05 16:26] AlanFoster opened #37 "Comments disappear"
## Input file

[code]

## Current output file

The comments attached to foo disappear

[code]

## Expected output file

[code]

[2019-02-05 16:37] AlanFoster opened #38 "Crashing with comment and regex"
## Input file

This is the smallest program that I can get that crashes:

[code]

## Current output file

[code]

## Expected output file

[code]

[2019-02-05 16:41] AlanFoster commented on #33
The ripper usage in this repo is a good example too, after running with prettier on this repo's ripper implementation:

[code]

[2019-02-05 17:53] #34 closed

[2019-02-05 18:06] #38 closed

[2019-02-06 13:21] AlanFoster opened #40 "Comment on break results in crash"
## Input file

[code]

## Current output file

[code]

## Expected output file

[code]

[2019-02-06 13:24] AlanFoster commented on #32
Not sure if this belongs in a separate ticket, or if it's part of this ticket. But the following snippet currently crashes:

[code]

[2019-02-06 16:28] AlanFoster opened #41 "Invalid shorthand generation"
When running prettier it seems to break the following code snippet:

[code]

I believe it should've been prettied as `respond_to(&:xml)` - or leaving it as-is, as it's not idiomatic to use this style within `respond_to` blocks usually 🤔

[2019-02-06 16:32] AlanFoster commented on #41
Another quick example of code that's semantically different after its been prettied:

[code]

[2019-02-06 16:44] AlanFoster opened #42 "Invalid generation for do block conversion"
## Input file

[code]

## Current output file

Invalid Ruby code is generated:

[code]

## Expected output file

[code]

[2019-02-06 16:55] AlanFoster opened #43 "Invalid ruby code generated for begin statements"
## Input file

[code]

## Current output file

Generates code that's no longer valid:

[code]

## Expected output file

The indentation of the begin block is left alone

[code]

[2019-02-06 18:01] AlanFoster opened #45 "Validate output file is valid Ruby code"
Would it would make sense to run Ripper over the generated output file to ensure that it's still valid Ruby code? If it's not valid, then we'll leave the file as-is, and console.log the file path as being a failure.

I'm happy to do this if it seems worthwhile.

[2019-02-06 18:35] kddeisz commented on #45
I don't think that'll be necessary. At the moment the test suite runs rubocop after we've generated the test file, so that should ensure we're generating valid ruby as long as we rely on the test suite.

[2019-02-06 19:10] AlanFoster commented on #45
@kddeisz The existing test suite doesnt cover all cases currently, and I've hit issues with files that aren't runnable after prettier ruby has processed and updated them

I think it's functionality worth adding until prettier ruby always generates valid outputs for all code bases and we have a more extensive test suite

[2019-02-06 19:15] kddeisz commented on #45
The problem is it's going to result in shelling out to two different processes and add a lot of time to the conversion. If we find breaking changes, we should put them into the test suite so that we have more coverage.

[2019-02-06 19:20] kddeisz commented on #45
Either way, the most recent PR I'm pushing up should fix a lot of problems we've been having. Also don't want to dismiss your idea out of hand - let's keep talking about it if we keep running into issues.

[2019-02-06 20:41] kddeisz commented on #41
This should now be fixed in v0.2.0.

[2019-02-06 20:41] #41 closed

[2019-02-06 20:41] kddeisz commented on #40
This should now be fixed in v0.2.0.

[2019-02-06 20:41] #40 closed

[2019-02-06 20:41] kddeisz commented on #37
This should now be fixed in v0.2.0.

[2019-02-06 20:41] #37 closed

[2019-02-06 20:42] kddeisz commented on #32
These are mostly fixed in v0.2.0, with more fixes to come. It no longer crashes, but it also generates some odd choices for formatting. More work will be done on this.

[2019-02-06 20:42] #32 closed

[2019-02-06 21:13] kddeisz commented on #42
This is now fixed on master.

[2019-02-06 21:13] #42 closed

[2019-02-06 21:24] kddeisz commented on #35
This is fixed-ish on master. The comment in the if clause doesn't work very well, but it's a separate problem.

[2019-02-06 21:24] #35 closed

[2019-02-07 15:01] kddeisz commented on #33
This should be fixed on master.

[2019-02-07 15:01] #33 closed

[2019-02-07 15:01] kddeisz commented on #33
(And v0.3.0)

[2019-02-07 19:01] wedgex opened #48 "Heredoc Interpolation Containing Strings"
Heredocs containing interpolation blocks that themselves contain strings seem to cause an error in `ripper.rb`.

## Input

Bare-bones fail case:

[code]
Slightly more realistic, tho still maybe not well factored:

[code]
## Current output

[code]

## Expected output

[code]

or

[code]

Slightly more realistic, tho still maybe not well factored:

[code]

[2019-02-07 19:04] kddeisz commented on #48
Thanks! I'll check this out.

[2019-02-08 03:01] kddeisz commented on #48
Thanks for the report! This is now fixed on master and will be released as `0.3.1`.

[2019-02-08 03:01] #48 closed

[2019-02-08 04:37] ianks opened #50 "Incorrect argument formatting for HEREDOC"
I have an easily reproducible error case for you, hope you dont mind :smile:

With this input:

[code]

prettier-ruby creates syntactically incorrect output:

[code]

[2019-02-08 09:14] somebody32 commented on #50
also interesting how `.freeze` was positioned for `RUBY_RESERVED_KEYWORDS` array, not sure if that is intentional

[2019-02-08 12:10] kddeisz commented on #50
Thanks for the report! Yeah definitely need to fix this up. I'll take a look next chance I get.

[2019-02-08 13:17] evilebottnawi opened #51 "Publish on new name"
For php we use `@prettier/plugin-php`
For ruby we can do same i think `@prettier/plugin-ruby` :+1:

Also i think better change name to avoid misleading and save naming.

[2019-02-08 13:25] kddeisz commented on #51
@evilebottnawi can you invite me to the `@prettier` npm organization? I'm `kddeisz` on there as well.

[2019-02-08 13:32] evilebottnawi commented on #51
/cc @vjeux @zimme @azz

[2019-02-08 13:33] vjeux commented on #51
Sorry, I won’t have access to my computer for another three weeks.

[2019-02-08 13:39] evilebottnawi commented on #51
Wait @azz :smile:

[2019-02-08 14:19] kddeisz commented on #51
Also would love to rename to `plugin-ruby` now that it's on here, but don't have requisite permissions.

[2019-02-08 14:30] j-f1 commented on #51
Made you an admin @kddeisz.

[2019-02-08 14:33] kddeisz commented on #51
Nice! I renamed the package. Let me know if anyone can add me to the `@prettier` org on `npm` and I'll publish under the new name.

[2019-02-08 14:39] evilebottnawi commented on #51
I think we can write post on prettier site about this

[2019-02-08 14:40] bugthing opened #52 "created syntax error"
thanks for this tool, awesome to have such a thing
Works really well it many many cases. I did run into this problem thou.
It changed
[code]
into
[code]
which is not valid ruby code (needs parens around the `origins '*'`)

cheers

[2019-02-08 14:41] kddeisz commented on #52
Thanks for the report! Will definitely check it out.

[2019-02-08 17:59] awinograd opened #53 "Properly escape double quotes"
## Input

When using `preferSingleQuotes: false`

[code]

## Current output

[code]

## Expected output

[code]

Thanks for this plugin. I use javascript & ruby and every time I write in ruby I miss prettier!

[2019-02-08 18:29] j-f1 commented on #53
IMO this should stay with single quotes, like Prettier does for JS. Prettier core uses the quote style that results in the fewest escaped quotes (do `'foo'`-style strings support `\'`?).

[2019-02-08 18:30] kddeisz commented on #53
Yeah, the thing is there are some folks in the ruby community that feel _really_ strongly about always using double quotes so I made it an option. This shouldn't be too hard to do tbh.

[2019-02-08 18:39] awinograd commented on #53
Makes sense to me to prefer single quotes to prevent escaping if possible. I know some people feel super strongly about always double quotes, but I'd be fine with anything that's valid syntax.

[2019-02-09 07:18] azz commented on #51
Added you to npm @kddeisz

[2019-02-09 07:48] azz commented on #51
We should update the readme to look more like the other plugins. Including the maintainers table.

[2019-02-09 12:57] orta opened #55 "Figure out & document how to disable RuboCop's styling rules"
Welcome to the prettier org! So awesome.

As this project likely to live along-side RuboCop in Ruby projects we'll need to either document how to ensure that the two projects don't clash, or build something similar to https://github.com/prettier/eslint-plugin-prettier to ensure the two don't step on each others toes.

Ideas:
 - https://github.com/rubocop-hq/rubocop/issues/6750 I just asked for the

[2019-02-09 15:09] kddeisz commented on #51
README updated, package republished under the new name.

[2019-02-09 15:09] #51 closed

[2019-02-09 15:47] #52 closed

[2019-02-09 16:08] kddeisz commented on #52
Thanks for the report @bugthing! This is now fixed on master and will be released as part of v0.3.3.

[2019-02-09 16:13] kddeisz commented on #55
Yeah this is a really good thought. I think it might be prudent just to ship with a rubocop config. There really shouldn't be too many rules that it's violating, I really tried to stick with their style for most things. People could just inherit from their `node_modules` directory.

[2019-02-09 16:13] #53 closed

[2019-02-09 16:13] kddeisz commented on #53
Thanks for the report @awinograd! This is now fixed on master and will be released as part of v0.3.3.

[2019-02-09 16:45] ashfurrow opened #58 "Crash in print.js: Cannot read property '0' of undefined"
Hello! I tried out the new Ruby plugin on one of @artsy's codebases (the [PR is here](https://github.com/artsy/exchange/pull/390); we're still collecting feedback on the formatting changes). I ran into a crash on a number of files:

- [`lib/tax/collection_service.rb`](https://github.com/artsy/exchange/blob/fb7b2fca569fc6e5163937240c0e8da81bc1eee3/lib/tax/collection_service.rb)
- [`lib/order_shippi

[2019-02-09 20:16] kddeisz commented on #58
Thanks so much! Looking into this.

[2019-02-09 20:19] kddeisz commented on #58
@ashfurrow Could you rerun again with v0.3.3? I just reran with that version and it appears that all 3 of these are fixed. I'll leave this open until you can confirm.

[2019-02-09 21:01] aergonaut commented on #58
I am also seeing this with `v0.3.3` of `@prettier/plugin-ruby`, in this file: https://github.com/aergonaut/cody/blob/master/app/models/repository.rb

[2019-02-09 22:32] cbothner opened #63 "Long chains of method calls should be formatted one per line"
## Input

[code]

## Current output

[code]

## Expected output

[code]

or maybe

[code]

I’d be willing to help implement this change if we decide it’s a good idea, however I’d need a little guidance on how to go about doing that.

[2019-02-09 22:54] eins78 opened #64 "TypeError: Cannot read property 'type' of undefined"
for this file: https://github.com/leihs/leihs_legacy/blob/fc38cc0cedd77182f423d29bf49ed0454a54f0d0/app/models/setting.rb

[code]

Sidenote: That was the only error in ~12k formatted lines, so good job so far 👍
https://github.com/leihs/leihs_legacy/commit/818678a900b4784890dd218e9831f7666cae44b3

[2019-02-10 00:51] #64 closed

[2019-02-10 00:52] kddeisz commented on #64
Thanks so much! This is going to be released in the next one.

[2019-02-10 01:04] kddeisz commented on #58
Okay this should all be fixed in `v0.3.4`. Let me know if any of this is still crashing and we'll reopen it.

[2019-02-10 01:04] #58 closed

[2019-02-10 01:38] Overload119 opened #67 "[Feature Request] Add commas at end of arguments"
This would be great to preserve blame in commits.

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-02-10 02:37] kddeisz commented on #67
Yeah I'm certainly open to this as a config option - would love a PR for this.

[2019-02-10 02:47] aergonaut commented on #58
@kddeisz Upgraded to 0.3.4 but I'm still getting the error when trying to format the file I linked previously. It looks like the error message is coming from a different line that @ashfurrow's error was coming from, so maybe it's a different problem?

[code]

[2019-02-10 02:52] kddeisz commented on #58
Hmm... what version of ruby are you using?

[2019-02-10 02:54] aergonaut commented on #58
[code]

[2019-02-10 02:57] kddeisz commented on #58
Oh!!! Okay one sec, I think I know what this is.

[2019-02-10 03:13] kddeisz commented on #58
Okay https://github.com/prettier/plugin-ruby/pull/68. I'll push out a v0.3.5

[2019-02-10 13:10] tonidezman commented on #67
Hi Amir,

How do you get to your current output?

If I run the plugin for all of your cases I get output of
[code]
Am I missing something @Overload119?

[2019-02-10 19:41] ashfurrow commented on #58
I can also confirm that v0.3.5 has fixe this – thank you!

[2019-02-10 21:12] Overload119 commented on #67
I wrote it manually to illustrate the idea - the line count is less than 80 so I don't think any formatting will happen.

[2019-02-11 00:12] AlanFoster opened #70 "Not keyword support"
## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-02-11 00:18] AlanFoster opened #71 "Comment edge case"
## Input

[code]

## Current output

Comment is no longer in the correct place

[code]

## Expected output

[code]

[2019-02-11 00:22] AlanFoster commented on #71
This might be the same bug:

Input:

[code]

Output:

[code]

[2019-02-11 00:37] kddeisz commented on #70
Thanks @AlanFoster! I really appreciate all the help you've given testing this out! Especially before it was even under prettier org!

[2019-02-11 00:42] kddeisz commented on #63
Hey @cbothner - yeah definitely agree that would be better for long method chains. I need to get some documentation for new contributors going. I don't have a ton of time atm to get it started but here are a couple of things to get things going:

* https://github.com/prettier/prettier/blob/master/commands.md - explains the builder commands used for creating the prettier IR
* `bin/sexp [filepath]`

[2019-02-11 00:43] kddeisz commented on #67
Yeah you can get this behavior by just making `1`, `2`, and `3` into very long arguments, it'll split and break down into multiple lines.

[2019-02-11 00:44] #70 closed

[2019-02-11 00:50] AlanFoster commented on #45
I knew I wasn't being crazy; There's a flag for this sort of functionality already:

[code]

https://prettier.io/docs/en/cli.html#debug-check

Nothing actionable here, but it just means it'll be easier to create new issues in the future with this flag :+1:

[2019-02-11 00:57] AlanFoster commented on #45
Example when running against rails checked out locally:

[code]

[2019-02-11 01:04] AlanFoster opened #75 "Running prettier twice on the same file crashes"
## Input

https://github.com/rails/rails/blob/9099d66bc38f2e560613258f520d46df624d99c0/activesupport/lib/active_support/configurable.rb

## Current output

[code]

Note that this code crashes when running prettier again on the same file:

## Expected output

Not to crash

## Reproduction

Run prettier with `--write` twice on the Rail's file, or once with `--debug-check`

[2019-02-11 01:10] AlanFoster commented on #70
Thanks for knocking out all the bugs so fast! 🏆

[2019-02-11 01:37] NoahTheDuke commented on #45
This is something the Python formatter [Black](https://github.com/ambv/black/) does:

[2019-02-11 02:07] kddeisz commented on #75
Yeah, this is the same as #50 - we've gotta address heredoc handling. Gonna close this as a dup of that one

[2019-02-11 02:07] #75 closed

[2019-02-11 02:20] kddeisz commented on #67
@Overload119 Would you add comments on the inner part as well? As in `foo(1, 2, 3,)`? Or just when it breaks?

[2019-02-11 02:21] #71 closed

[2019-02-11 06:03] Overload119 commented on #67
Not sure what you mean re: comments.
I would imagine comments stay the same and do not wrap.

Ultimately, what would be ideal is what is described in https://shopify.github.io/ruby-style-guide/.

I forked the repo, but it says I'm hundreds of commits behind - any idea what's up with that?

![image](https://user-images.githubusercontent.com/1012072/52547898-72b3e700-2d7f-11e9-95b0-2feedda1872b.png)

[2019-02-11 07:35] n1th1l opened #78 "Format failed while converting JSON string"
## Input

[code]

## Current output

[code]

## Expected output
I wasn't expecting it to replace some characters with undefined

[2019-02-11 14:20] kddeisz commented on #45
Okay. I'm going to reopen this for future discussion as an option.

[2019-02-11 14:29] kddeisz commented on #78
Jeez... that's embarrassing. Pushing a `v0.3.7` with a fix for this.

[2019-02-11 14:29] #78 closed

[2019-02-11 15:20] j-f1 commented on #45
Does `--debug-check` not do what you need?

[2019-02-11 15:49] NoahTheDuke opened #80 "TypeError: Cannot read property 'toString' of null"
I have a bunch of "seed" files that populate development and test dbs. One file in particular has about 550 seed lines, each about 2k characters long (inline maps with string keys, hash rockets, and values).

If I run prettier over it, it errors with:
[code]
If I cut it up at all (in an attempt to binary-search which lines it chokes on), prettier returns correct file, which makes me think it's abo

[2019-02-11 16:00] kddeisz commented on #80
Would you potentially be able to attach the file to this issue? Or at least an anonymous version of it? I haven't encountered this and would love to be able to fix this.

[2019-02-11 16:00] kddeisz commented on #80
Also, what version of `@prettier/plugin-ruby`, which version of `node`, and which version of `ruby` are you running?

[2019-02-11 16:04] NoahTheDuke opened #81 "Error in lambda creation: in 'lambda': tried to create Proc object without a block (ArgumentError)"
## Input

[code]

## Current output

[code]
Running `rails s` generates this error: `app/models/temp.rb:252:in 'lambda': tried to create Proc object without a block (ArgumentError)`

## Expected output

[code]
Or maybe (tho this gets Rubocop yelling at me):
[code]

This also affect when a Proc in a `has_many` with traits afterwards:
[code]
becomes
[code]
which returns (when run):
`app/models/temp.

[2019-02-11 16:07] NoahTheDuke commented on #80
Node: v10.11.0
prettier-ruby: 1.16.4
Ruby: 2.5.3p105 (2018-10-18 revision 65156) [x86_64-darwin18]
Rails: 5.1.6.1

I'll see if I can anonymize a version of the file, as it's my company's and not mine.

[2019-02-11 16:22] NoahTheDuke commented on #80
Here's an anonymized version, with 300 lines:
[temp.txt](https://github.com/prettier/plugin-ruby/files/2851967/temp.txt)

[2019-02-11 16:41] kddeisz commented on #80
Wow this is really great thanks for the report! So this has actually exposed a bug wherein we were passing the content of the file to be parsed as an argument to a spawned process, whereas we should have been writing it to `stdin`. The size of your file hit the `E2BIG` error from node and was even breaking out error handling. The referenced PR fixes this, and I'll push up a new version later today

[2019-02-11 16:41] #80 closed

[2019-02-11 16:41] kddeisz commented on #81
Thanks for the report! I'll check it out.

[2019-02-12 01:06] aergonaut commented on #55
This project could ship a gem called like `rubocop-config-prettier` that contains `rubocop.yml` files disabling the style rules. Then projects wanting to Prettier along with Rubocop could use [`inherit_gem`](https://rubocop.readthedocs.io/en/latest/configuration/#inheriting-configuration-from-a-dependency-gem) to inherit the config:

[code]

This would be like how ESLint users have to install a co

[2019-02-12 01:53] kddeisz commented on #55
I don’t think we necessarily need to ship a gem since we’ll already have a file on the system through the npm package. We could just ship the rubocop with the plugin.

[2019-02-12 03:14] kddeisz commented on #67
Sorry I meant commas. Would you add commas for a single line call?

Yeah I've been pushing some stuff so you'll probably need to rebase your fork.

[2019-02-12 04:03] NoahTheDuke commented on #67
I’d suggest not adding commas to single-line calls. They’re semantically equivalent but I feel like the main appeal of commas is to make diffs and editing easier, which doesn’t happen with single-line calls.

[2019-02-12 12:58] kddeisz commented on #67
This will be supported in the next release (`0.4.0`) which I'll push out this morning.

[2019-02-12 12:58] #67 closed

[2019-02-12 13:46] kddeisz commented on #80
Actually this ended up being `v0.4.0` because I bundled it with another change. It's now out.

[2019-02-12 13:46] kddeisz commented on #67
This is now out.

[2019-02-12 14:32] orta commented on #55
To take it a bit extreme: it could be feasible to ship prettier + prettier ruby + this config as a single gem with the binaries embedded . This lets ruby devs feel like they only have one dependency manager. ( I do something a bit like this for [danger-swift](https://github.com/danger/swift) )

[2019-02-12 14:47] kddeisz commented on #55
Oo man @orta I actually really like that idea. A lot of the pushback so far has been from ruby devs who haven't had experience with the npm ecosystem.

[2019-02-12 15:14] AlanFoster commented on #55
Hm, I'd be interested in taking a look at that. Would https://github.com/nexe/nexe be appropriate?

[2019-02-12 15:25] kddeisz commented on #55
I don't think we need to go so far as to bundle node. If they don't have it on their system we should just warn and fail the executable.

[2019-02-12 21:04] awinograd opened #84 "Invalid trailing comma with trailingComma: true"
## Input

[code]

## Current output

The comma after `status: 500` makes this ruby invalid.

[code]

## Expected output

The following or some other valid ruby syntax.

[code]

FWIW running `--debug-check` as suggested in https://github.com/prettier/plugin-ruby/issues/45 was helpful for me

[2019-02-13 00:09] ni3t commented on #84
I'm running into this issue when using [prettier-vscode](https://github.com/prettier/prettier-vscode).

I think the issue might be a conflict between prettier's default `trailingComma` value, which is `"none"`,  and plugin-ruby expects a boolean value.

Adding `trailingComma: <boolean>` fixes it for me, but I think this breaks other stuff in regards to JS formatting.

[2019-02-13 00:22] ni3t commented on #84
Here's a minimum repro:

[code]

[2019-02-13 00:24] ni3t commented on #84
I think a solution would be values of "none" and "always" for `trailingComma` instead of true/false.

[2019-02-13 00:32] awinograd commented on #84
I think this is a seprare issue. As you can see above, the comma is applied in my example but the resulting ruby is invalid. That's different than the option not being respected at all

[2019-02-13 00:49] kddeisz commented on #84
This is gonna be fixed with https://github.com/prettier/plugin-ruby/pull/87

[2019-02-13 01:01] kddeisz commented on #84
Now fixed on master

[2019-02-13 01:01] #84 closed

[2019-02-13 01:05] kddeisz commented on #84
Now fixed on v0.4.1

[2019-02-13 01:11] awinograd commented on #84
Thanks @kddeisz !

[2019-02-13 03:37] kmcq opened #88 "Does not handle empty do end"
## Input

[code]

## Current output

[code]

## Expected output

[code]

Thanks so much this is such an awesome project! I've been wanting this ever since I started using `prettier`. You rock!

[2019-02-13 14:15] uri opened #89 "Long arguments don't get split properly on multiple lines and create invalid Ruby"
## Input

[code]

## Current output

[code]

This is actually invalid Ruby that produces a syntax error.

## Expected output

[code]

[2019-02-13 14:24] kddeisz commented on #89
@uri can you tell me which version of `@prettier/plugin-ruby` you're running and which version of `ruby` you're running?

[2019-02-13 14:26] kddeisz commented on #88
Thanks! I would actually expect

[code]

what do you think?

[2019-02-13 14:39] kmcq commented on #88
Ah yes that's better! I wasn't aware that adding the parens like that made it valid. Looks great to me :)

[2019-02-13 15:08] tgroutars opened #90 "Usage with prettier-atom"
I'm trying to setup this plugin to use prettier with our ruby files and for it to run in Atom.
Just installed the plugin and headed to a `.rb` file, and I'm getting the following error:
[code]
I guess the issue is we already have a `.prettierrc` for the js config, and the options are not the same.
How should we specify one config for js and another for ruby?

[2019-02-13 15:18] kddeisz commented on #90
Yeah I'm just noticing this as well. I think the name clash is going to cause problems for a lot of folks. I'm going to need to change the value for the ruby config I think. I'll probably change it to `addTrailingCommas` or something. I'll update this issue once I have a solution.

[2019-02-13 15:20] kddeisz commented on #89
nvm I found it. Thanks for the report!

[2019-02-13 15:24] kddeisz commented on #89
This will be fixed by #91 and released as part of `0.5.0`.

[2019-02-13 15:37] kddeisz opened #92 "Convert empty case expressions into if expressions"
Currently, when `@prettier/plugin-ruby` encounters a case expression, it will always print it out as a case. However, there are one case where we don't want to do that:

[code]

This is functionally equivalent to:

[code]

We should handle this inside the `case` handler in `src/nodes.js` by checking if the case expression contains a predicate, and if it doesn't then switching to printing out and `

[2019-02-13 15:41] kddeisz commented on #89
Fixed on master, going to push out `v0.5.0` in a second. BTW, we're going to have to change `trailingComma` to `addTrailingCommas` to not conflict with the JS option.

[2019-02-13 15:41] #89 closed

[2019-02-13 15:45] kddeisz commented on #90
Yeah I'm going to go with `addTrailingCommas`, https://github.com/prettier/plugin-ruby/pull/93, will be out as part of `v0.5.0` in a minute.

[2019-02-13 15:45] #90 closed

[2019-02-13 15:49] kddeisz opened #94 "Convert parallel assignment (massign) expressions into multiple assignment expressions"
Currently, when `@prettier/plugin-ruby` encounters an `massign` expression, it will always print it out as an `massign`. However, there are one case where we don't want to do that:

[code]

This is functionally equivalent to:

[code]

We should handle this inside the `massign` handler in `src/nodes.js` by checking if the number of args on the left is equal to the number of args on the right, that

[2019-02-13 16:32] kddeisz commented on #88
Hmm actually it's easier just to do what you suggested so I'm going to go with that. This will be fixed and released as part of `v0.5.1`

[2019-02-13 16:32] #88 closed

[2019-02-13 18:14] j-f1 commented on #92
Doesn’t this go beyond just printing code? In general, Prettier tries to maintain your code structure, even if it’s unidiomatic or a hard to read.

[2019-02-13 18:16] kddeisz commented on #92
Yeah I can definitely see an argument for that. I've been trying to match the ruby style guide for most things which is why I threw this in here, but honestly I'm okay with not doing this.

[2019-02-13 18:16] #92 closed

[2019-02-13 18:16] #94 closed

[2019-02-13 18:28] tgroutars commented on #90
Thanks, and thanks for the great work btw, been waiting for this for some time 👏

[2019-02-13 20:06] nicolasrouanne opened #97 "Prettier x Rubocop"
Is there a way to pass styling rules to rubocop, the same way we pass prettier style to eslint in a `.eslintrc` file?

I want to be able to run `rubocop` in my CI (e.g. Travis) to check if files were indeed formatted by prettier.

Use case is a contributor not using prettier in his IDE; CI should fail.

[2019-02-13 20:09] kddeisz commented on #97
Yeah we're discussing that over here: https://github.com/prettier/plugin-ruby/issues/55. Trying to figure out the best way to solve this problem. Probably going to involve shipping a rubocop with this package.

[2019-02-13 20:09] #97 closed

[2019-02-14 01:54] kddeisz commented on #81
Fixed by #99

[2019-02-14 01:54] #81 closed

[2019-02-14 02:14] NoahTheDuke commented on #81
Duuuuude, heck yes! Thank you!

[2019-02-14 13:44] idoo commented on #55
btw, any goals to use rubocop config to use rubocop's rules on the project?

[2019-02-14 13:46] nicolasrouanne commented on #97
Sorry for the duplicate... was on mobile and didn't bother to open the issues, just read the title. 🙏

[2019-02-14 13:56] orta commented on #55
There would need to be a JavaScript implementation of the rubocop config generator (e.g. the extends from gem etc ) or a way to have rubocop export the full settings (as JSON to STDOUT or something) in order for that to work

[2019-02-14 14:10] idoo commented on #55
@orta I guess it just required `YML` reader and mapper features, ex: something like `rubocop2prettier-ruby`, please correct me if I wrong

[2019-02-14 14:13] orta commented on #55
You'd need to re-implement all of these types of features: https://rubocop.readthedocs.io/en/latest/configuration/#inheritance

[2019-02-14 14:37] kddeisz commented on #55
While I agree that that might be nice, I think that might be overcomplicating the problem.

Rubocop already supporting inheriting config from a relative path. That means we can ship a rubocop config with this package and people can put `inherit_from: ./node_modules/@prettier/plugin-ruby/rubocop.yml` at the top of their config files.

In that config we should just disable every rule that is covered

[2019-02-14 14:44] kddeisz commented on #97
No worries at all! Thanks for the interest!

[2019-02-14 14:48] idoo commented on #55
in this case, it will require additional changes for rubocop config and third-party dependencies to CI for example. Not everybody has a node on CI ;)

[2019-02-14 14:54] kddeisz commented on #55
If folks don't have access to `node` then they'd probably have to inherit from a remote URL, which is feasible in rubocop. They could do that with `https://raw.githubusercontent.com/prettier/plugin-ruby/v0.6.0/.rubocop.yml`. All of this could go in the README.

[2019-02-15 10:29] meleyal opened #102 "super without arguments"
## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-02-15 10:33] meleyal opened #103 "single line method call without parens with inline comment"
## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-02-15 11:01] meleyal opened #104 "Support `# prettier-ignore`"
Add support for `# prettier-ignore` comment to skip the next node, see https://prettier.io/docs/en/ignore.html.

[2019-02-15 12:29] kddeisz commented on #102
Thanks for the report. Can you explain why this would be preferable?

[2019-02-15 12:32] kddeisz commented on #103
Thanks for the report - what version of Ruby are you running?

[2019-02-15 12:54] #103 closed

[2019-02-15 13:14] kddeisz commented on #102
I'm going to close this as this was by design. Let me know why you would want this if you feel strongly.

[2019-02-15 13:29] meleyal commented on #103
2.5.0

[2019-02-15 13:30] meleyal commented on #102
In some cases you want to explicitly call `super()` without arguments, see https://medium.com/rubycademy/the-super-keyword-a75b67f46f05

[2019-02-15 14:17] kddeisz commented on #102
Fair enough - thanks for the report! This will be fixed by #106 and will go out in the next release (0.6.1)

[2019-02-15 14:17] #102 closed

[2019-02-15 14:21] uri opened #107 "Methods without parenthesis, with arity 1, and an inline comment have their arg removed"
## Metadata

* Ruby version: ruby 2.5.3p105 (2018-10-18 revision 65156) [x86_64-darwin18]
* @prettier/plugin-ruby version: 0.6.0
* prettier version: 1.16.4

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-02-15 14:23] kddeisz commented on #107
Thanks for the report @uri. This is a dup of https://github.com/prettier/plugin-ruby/issues/103 which has been fixed. It will be released in the upcoming bug fix (0.6.1)

[2019-02-15 14:23] #107 closed

[2019-02-15 15:11] aaronjensen opened #108 "Strips comments when converting from [] to %w[]"
## Metadata

* Ruby version: 2.5.1
* @prettier/plugin-ruby version: 0.6.1

## Input

[code]

## Current output

[code]

## Expected output

Should be unchanged as you can't inline comments in %w's afaik.

[code]

[2019-02-15 15:13] aaronjensen opened #109 "Document how to set config"
I'm sure I'm just missing something, but I cannot find any documentation on how to set the config variables when running from the command line. No prettier plugin I can find documents that and prettier itself doesn't seem to document it. Is it possible, or am I forced to use the defaults if I use the command line?

[2019-02-15 15:17] aaronjensen opened #110 "Method keyword argument lists run on"
## Metadata

* Ruby version: 2.5.1
* @prettier/plugin-ruby version: 0.6.1

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-02-15 15:19] aaronjensen opened #111 "Regex flags are stripped"
## Metadata

* Ruby version: 2.5.1
* @prettier/plugin-ruby version: 0.6.1

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-02-15 15:30] kddeisz commented on #109
Hey - thanks for all the help! I'll look at this list of issues after work.

You can specify any of the options on the command line with their dasherized equivalent. As in `preferSingleQuotes` would be `--prefer-single-quotes`. You can put a `false` after it to set it to false.

If you wouldn't mind taking a pass at documenting it in the README I'd be happy to merge a PR for it.

[2019-02-15 15:36] aaronjensen commented on #109
No problem. So there's no way to set config in `prettier.config.js`?

[2019-02-15 15:40] kddeisz commented on #109
It's the same thing with `prettier.config.js` as normal. You just put the keys from the ones listed in the README with the values that you want as the main export.

[2019-02-15 15:42] aaronjensen commented on #109
Oh, great. Okay, I'll toss up a PR, thank you.

[2019-02-15 15:49] #109 closed

[2019-02-15 20:57] chevinbrown opened #113 "VSCode formatOnSave"
## Metadata

* Ruby version: 2.5.1
* @prettier/plugin-ruby version: 0.6.1

Errything looks good from cmd/cli! 👏

The vs-code prettier plugin seems to reach for another tool? I've fooled around with a `.prettierrc` also, but I'm assuming this is still too new for the vscode plugin to have this parser integrated?

[2019-02-15 21:20] dusty commented on #113
I use the vs-code prettier plugin and it works for me with plugin-ruby.  However, you have to install the plugin in the vscode plugin directory as it appears it doesn't look inside your project or even globally for plugins.

[code]

[2019-02-15 21:44] chevinbrown commented on #113
@dusty

I've got this line in my settings.json:
[code]
After your recommended step, I still get no action after "running save participants". ☹️

[2019-02-15 22:02] dusty commented on #113
@chevinbrown

If I were to guess, I'd make sure that you have the most recent vscode-prettier plugin installed because I believe you will need prettier > 1.14.  Also be sure to restart vscode after you added plugin-ruby to the vscode-prettier dir.

I don't have a specific ruby section in my config, but I do have editor.formatOnSave to true.  I also don't have any other ruby plugins in vscode.  Not

[2019-02-16 05:45] chevinbrown commented on #113
I've narrowed it down a bit--looks like the `rubocop` extension has some conflict?

`[renderer1] [warning] Aborted format on save after 750ms` is output in my window log when rubocop is enabled.
Everything works as expected when rubocop is disabled.

[2019-02-16 21:07] AlanFoster commented on #111
I'll see if I can take a look 🤞

[2019-02-17 15:58] #111 closed

[2019-02-17 17:54] #110 closed

[2019-02-17 17:59] kddeisz opened #120 "Make test fixtures into minitest tests"
So! At the moment our test suite does a couple of things:

1. Runs through each of the test fixtures (listed under `test/cases`) and prettier-ifies it using each of the configurations.
2. Compares the generated code to the stored snapshot.
3. Runs rubocop over the generated code to ensure it passes (with a rubocop config that matches the equivalent prettier configuration).

Recently I've added a f

[2019-02-17 18:00] kddeisz commented on #113
I have no idea what's going on with this and I don't use vscode, so any help on this would be appreciated!

[2019-02-17 23:37] AndrewRayCode opened #124 "Not compatible with root level `.prettierrc.js`"
[code]

[2019-02-17 23:42] AndrewRayCode commented on #124
It looks like it's not using the Ruby version of Prettier? Something may be wrong with the install instructions you posted. It seems to error on any ruby syntax

[2019-02-17 23:49] AndrewRayCode commented on #124
It looks like this project isn't compatible with a root level `.prettierrc.js` file? What is the proper way to format both ruby and JS in the same codebase?

[2019-02-17 23:54] AndrewRayCode opened #125 "Creates invalid lambda code"
[code]

becomes

[code]

I don't know enough about the particulars of Ruby's syntax to know why that's invalid, but the error is:

[code]

[2019-02-17 23:57] AndrewRayCode opened #126 "Strange chaining of multi-line methods"
[code]

[code]

The `.distinct` call is indented too far

[2019-02-18 00:01] AndrewRayCode opened #127 "Indents private methods by 10 spaces?"
[code]

[code]

[2019-02-18 00:03] AndrewRayCode opened #128 "MOVES comments to different lines"
this one is weird
input
[code]
output
[code]

[2019-02-18 00:13] AndrewRayCode opened #129 "Non-deterministic dangerous output"
Running prettier-ruby is not idempotent and has unpredictable output.

[code]

The lines of code in the file go from `1962` (start) to `2247` (first format) to `2237` (second format) to `8` (third format) (lol)

I worry that given the incredibly dynamic nature of Ruby, no plugin may be able to correctly statically analyze a Ruby program to produce properly formatted output. Do you think that's the

[2019-02-18 00:15] AndrewRayCode commented on #128
Looks like it did this in a different scenario too, where it moved the comment , I don't think this plugin handles inline comments properly.

input
[code]

output
[code]

[2019-02-18 00:20] AndrewRayCode opened #130 "Weird wrapping of long if"
input:
[code]
output:
[code]

[2019-02-18 00:29] AndrewRayCode opened #131 "Indents multi-line if to same indentation as method body"
Not sure if a bug but a little harder to read than using explicit () around if

These all get indented to same line:
[code]

[2019-02-18 00:31] AndrewRayCode opened #132 "Strange metaprogramming argument definition line breaking"
[code]
becomes
[code]

[2019-02-18 00:34] AlanFoster commented on #124
@AndrewRayCode Out of interest - what does your root level `.prettierrc.js` file look like? :)

[2019-02-18 00:46] AndrewRayCode opened #133 "Extra space inside lambda"
[code]
becomes
[code]

[2019-02-18 13:39] chevinbrown commented on #113
I'm also probably 0 help on the vs-code front. I suspect it's more an issue with the prettier plugin & rubocop.
I'll open an issue over here: https://github.com/prettier/prettier-vscode.

[2019-02-18 14:08] kddeisz commented on #127
Yeah this is expected. We don't differentiate between the private as a keyword and the private as a method call. Would be happy to look at a PR for this if you want to open one but leaving this as it is for now.

[2019-02-18 14:08] #127 closed

[2019-02-18 14:53] kddeisz commented on #129
I can't reproduce anything without a code sample. Please feel free to open a new issue if you can provide code, otherwise these kinds of issues are just spam.

[2019-02-18 14:53] #129 closed

[2019-02-18 21:34] Overload119 opened #137 "Uses `'` when it should use `"`"
## Metadata

* Ruby version: 2.6
* @prettier/plugin-ruby version: 0.6.2

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-02-18 21:34] Overload119 commented on #137
These are not equivalent.

[code]

[2019-02-19 08:12] somebody32 commented on #113
@chevinbrown there is a setting in vscode called `Format On Save Timeout`, try to bump it to see if that helps. I suspect that running prettier and then rubocop together does not fit into 750ms

[2019-02-19 13:00] AlanFoster opened #138 "[Idea] Create Ruby playground support"
It'd be nice to have playground support for the Ruby prettier plugin like the official website has https://prettier.io/playground/

We could bridge the JavaScript and Ruby/Ripper gap with:

https://jasoncharnes.com/run-rb/
https://runrb.io/

This means we'd have a Ruby formatter to play around with, all entirely within the browser!

I don't know if this is entirely possible yet, but I might look i

[2019-02-19 13:31] chevinbrown commented on #113
@somebody32 💕 that's about it...For some reason, rubocop is still is the "preferred" formatter (it seems to just ignore prettier)?  In any case, with an opinionated linter I can accept not having rubocop lint... We'll probably lean towards throwing rubocop in CI instead of the editor.

[2019-02-19 14:14] kddeisz commented on #113
For yall that are using vscode, do I understand it correctly that you have https://github.com/rubyide/vscode-ruby installed and that its automatically running rubocop and that's timing out?

[2019-02-19 14:25] chevinbrown commented on #113
Not for me--I use solargraph...but I've just toggled between solargraph and vscode-ruby. Both run well alongside prettier plugin-ruby. 👍
It fails to run properly as soon as I enable rubocop even when I have formatting "off" for soloargraph/vscode-ruby.

[2019-02-19 14:31] kddeisz commented on #138
Yeah I've been playing around with that actually with https://github.com/kddeisz/prettier-remote. I think you'll still need to send it remotely, run-rb doesn't support the standard library let alone C extensions. I just need to talk to someone on the team that's willing to host a docker image and we'll be good to go. I'd love to include the other missing plugins as well (swift, python, etc). Gonna

[2019-02-19 14:31] #138 closed

[2019-02-19 14:43] kddeisz commented on #137
Thanks for the report! I'll comment back here when this is fixed.

[2019-02-19 16:01] uri opened #139 "Methods with 1 arity and an inline comment called within a block have their arg and comment removed"
## Metadata

* Ruby version: ruby 2.5.3p105 (2018-10-18 revision 65156) [x86_64-darwin18]
* @prettier/plugin-ruby version: 0.6.3
* prettier version: 1.16.4

## Input

[code]

## Current output

[code]

## Expected output

[code]

Or probably the following as this style is usually intended for multiple options.

[code]

[2019-02-19 18:48] RossKinsella opened #140 "Empty class definition causes end to be brought to first line"
## Metadata

* Ruby version: 2.5.3
* @prettier/plugin-ruby version: ^0.6.3

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-02-19 18:49] RossKinsella commented on #140
Love the project by the way. Keep it up!

[2019-02-19 20:11] uri opened #141 "heredoc when used as an argument gets formatted incorrectly"
## Metadata

* Ruby version: 2.6.1
* @prettier/plugin-ruby version: 0.6.3

## Input

[code]

## Current output

[code]

It's putting the comma in the wrong place.

## Expected output

I think the original way looks the cleanest, but it doesn't support multiple heredocs, so I guess something like this would work:

[code]

[2019-02-19 20:17] kddeisz commented on #141
Closing this as it's a duplicate of https://github.com/prettier/plugin-ruby/issues/50

[2019-02-19 20:17] #141 closed

[2019-02-19 20:24] uri commented on #141
Ah I did see that but wasn't sure if it was the same issue because the example was so huge.

[2019-02-19 20:27] uri commented on #139
This is **not** an issue on Ruby 2.6

[2019-02-20 19:17] NoahTheDuke commented on #125
I ran into this same issue in #81, but it looks like the fix in #99 didn't catch all of the issues as it's happened to me as well.

[2019-02-21 14:59] #137 closed

[2019-02-21 15:00] kddeisz commented on #137
This is fixed on master and will be part of the next release.

[2019-02-21 15:23] kddeisz commented on #140
Thanks so much! This is going to be fixed by https://github.com/prettier/plugin-ruby/pull/145

[2019-02-21 15:45] #140 closed

[2019-02-21 15:51] kddeisz commented on #133
Thanks for the report! This will be fixed by https://github.com/prettier/plugin-ruby/pull/146 and will be released as part of the next release.

[2019-02-21 15:53] kddeisz commented on #124
@AndrewRayCode could you post your `.prettierrc.js` file so we can diagnose the problem?

[2019-02-21 15:55] NoahTheDuke commented on #127
If I wanted to take a crack at this, where should I start looking?

[2019-02-21 15:57] #133 closed

[2019-02-21 16:59] AlanFoster commented on #138
@kddeisz What are your thoughts on keeping this issue open until the playground support is delivered?

We can use this issue as a placeholder for end goal of having support for `plugin-ruby` within the playground - without too much focus on the particular approach of using run.rb/prettier-remote/etc, and whether it involves contributing back to the main prettier repo, or forking it temporarily or

[2019-02-22 00:38] AlanFoster commented on #138
Played around with wiring this up locally, it seems pretty cool so far:

### GIF

![prettier](https://user-images.githubusercontent.com/1271782/53211312-a3760500-3638-11e9-9c09-9c545687cf04.gif)

### Screenshot

![image](https://user-images.githubusercontent.com/1271782/53211370-d4eed080-3638-11e9-9726-6da6b8085d66.png)

---

I spiked it out by updating prettier-remote to return the actual AST rat

[2019-02-22 00:59] AlanFoster commented on #138
Another random thought -
It'd be nice to have Ruby parser versions in the options list. Some issues may be Ruby parser specific.
The UI might be similar to Babel's env preset input for the node version:

![image](https://user-images.githubusercontent.com/1271782/53211977-141e2100-363b-11e9-82c1-4563ea7f49dc.png)

I'm not sure what impact that would have on the API of prettier-remote just yet.

[2019-02-22 01:51] AlanFoster commented on #128
From what I can tell, the first issue is fixed now. The second issue still exists

[2019-02-22 02:09] AlanFoster commented on #132
It's splitting onto the new line because it's hitting the maximum column width, and the plugin's allowing a line after commas.

In Prettier's eyes this document looks like:

[code]

As there's a softline between the assignment, with longer variables it's also possible that the output would look like:

[code]

I'm not sure what the 'expected' format would be, other than to poke around with Rubocop

[2019-02-22 07:54] RossKinsella opened #148 "Handles unexpected "," syntax error strangely"
## Metadata

* Ruby version: 2.5.3
* @prettier/plugin-ruby version: 0.6.3

## Notes
* If you look at  `it 'forbids normal users', do` you can see I have a syntax error before the do. When I remove that comma, it works as expected

## Input

[code]

## Current output

[code]

## Expected output
* I'm not really sure what a reasonable output would be when I have a syntax error

[code]

[2019-02-22 12:04] AlanFoster commented on #148
I think this should be fixed by https://github.com/prettier/plugin-ruby/pull/147 - as it won't attempt to pretty an invalid ruby file anymore

[2019-02-22 13:07] AlanFoster commented on #132
Just looking at alternative ways to format this:

[code]

Rufo keeps it all in one line by default:

[code]

If you intentionally add a line break between the arguments, it'll align everything for you:

[code]

Rubocop forces everything onto a single line too - but then complains about the line length being too long:

[code]

[2019-02-22 13:19] AlanFoster opened #149 "Trailing comment in array causes array values to be removed"
## Metadata

* Ruby version: 2.5 and 2.6
* @prettier/plugin-ruby version: 0.6.3

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-02-22 13:20] AlanFoster commented on #149
Hm, this might be a variation of https://github.com/prettier/plugin-ruby/issues/108

I can close this as a duplicate, but it might be worth additional tests cases. I can post this code snippet on the other issue as a point of reference perhaps?

[2019-02-22 13:36] AlanFoster opened #150 "Comment handling of array access within do block"
## Metadata

* Ruby version: 2.5 + 2.6
* @prettier/plugin-ruby version: 0.6.3

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-02-22 13:38] AlanFoster opened #151 "Regression - Comment handling in arrays causes a crash"
## Metadata

* Ruby version: 2.5  2.6
* @prettier/plugin-ruby version: 0.6.3

## Input

https://github.com/prettier/plugin-ruby/issues/32#issuecomment-461021460

[code]

## Current output

[code]

## Expected output

No crash

[2019-02-22 13:57] AlanFoster opened #152 "Prettier generates invalid ruby on destructuring arrays within parentheses"
## Metadata

* Ruby version: 2.5
* @prettier/plugin-ruby version: 0.6.3

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-02-22 14:01] AlanFoster opened #153 "Prettier removes commas from next keyword"
## Metadata

* Ruby version: 2.5
* @prettier/plugin-ruby version: 0.6.3

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-02-22 14:05] AlanFoster opened #154 "Adds whitespace on multiline regexes"
## Metadata

* Ruby version: 2.5
* @prettier/plugin-ruby version: 0.63

## Input

https://ruby-doc.org/core-2.1.1/Regexp.html#class-Regexp-label-Free-Spacing+Mode+and+Comments

[code]

## Current output

Prettier keeps adding surrounding whitespace on each format run:

[code]

It was easier to spot the additional indents on each format within the Ruby playground when using the `show second format`

[2019-02-22 14:08] NoahTheDuke commented on #150
Is it intentional that the item index changed in the current output?

[2019-02-22 14:09] AlanFoster opened #155 "Arguments dropped when using undef"
## Metadata

* Ruby version: 2.5
* @prettier/plugin-ruby version: 0.6.3

## Input

[code]

## Current output

`bar` is silently

[code]

## Expected output

[code]

[2019-02-22 14:12] AlanFoster commented on #155
I'll get a PR up for this one 🤞

[2019-02-22 14:14] AlanFoster commented on #150
@NoahTheDuke Definitely not - PEBKAC. Updated the before/after - thanks!

[2019-02-22 15:20] AlanFoster commented on #154
I'll see if I can take a look at this 🤞

[2019-02-22 15:33] aaronjensen opened #158 "addTrailingCommas removes trailing commas if they're there already"
## Metadata

* Ruby version: 2.5.0
* @prettier/plugin-ruby version: master

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-02-22 15:35] aaronjensen commented on #158
It might be a good idea to add to the test suite a rerun w/ the exact same rules on the output from the first run. There should be no differences. That would have caught this, as this is a toggling formatting issue.

[2019-02-22 15:37] NoahTheDuke commented on #45
I think given some of the issues that are being raised recently about returning invalid code or non-formatting related bugs, having this automated would mean you can trust that the AST you start with is the same AST you're given without having to manually verify every change (which matters a lot on projects like mine which have 134k lines across 2300 files).

[2019-02-22 15:42] j-f1 commented on #45
Have you tried `--debug-check` @NoahTheDuke?

[2019-02-22 15:48] AlanFoster commented on #45
@j-f1 `--debug-check` verifies that the AST is equivalent, but the Ruby prettier doesn't honour those semantics. For instance rewriting if statements into ternaries, `do end` blocks into single line `{ ... }` blocks, or even just adding brackets to method calls results in a different AST in Ruby:

[code]

[2019-02-22 15:52] NoahTheDuke commented on #45
My apologies, I mean that including the `--debug-check` by default (making it work with `--write` of course) would help overall, because you'd never accidentally forget to run it; you could "fire and forget" and be assured that using prettier-ruby wouldn't ever damage your code.

[2019-02-22 16:00] AlanFoster opened #159 "Support __END__ syntax"
## Metadata

* Ruby version: 2.5
* @prettier/plugin-ruby version: 0.6.3

## Input

Other examples: https://blog.honeybadger.io/data-and-end-in-ruby/

[code]

## Current output

[code]

## Expected output

[code]

[2019-02-22 18:04] j-f1 commented on #45
To fix that, I’d suggest wiring up [a `clean` function](https://github.com/prettier/prettier/blob/master/src/language-js/clean.js) that normalizes the ASTs before `debug-check` compares them.

I believe the reason we don’t enable it by default is that it’s slower due to having to parse the code twice and it isn’t usually necessary as long as the test suite is good enough.

[2019-02-22 20:09] AlanFoster commented on #63
There's some useful dev notes above - I'll contribute some extra links too

Useful for Prettier:
https://medium.com/@fvictorio/how-to-write-a-plugin-for-prettier-a0d98c845e70

Useful for Ripper:
https://rmosolgo.github.io/blog/2018/05/21/how-ripper-parses-variables/
https://rmosolgo.github.io/ripper_events/
http://patshaughnessy.net/ruby-under-a-microscope

[2019-02-22 20:50] AlanFoster commented on #159
Going to spike this out 🤞

[2019-02-22 20:53] kddeisz commented on #159
I've got a PR for this, just waiting to push it til after work

[2019-02-22 21:04] AlanFoster commented on #159
@kddeisz No bother :+1: Just got to the end of the spike and have it working now, but will wait for yours instead 👀

[2019-02-23 18:34] #159 closed

[2019-02-23 18:34] #154 closed

[2019-02-23 23:12] AlanFoster commented on #152
I'll look at this

[2019-02-24 02:04] AlanFoster commented on #104
Hm; Tempted to take a look at this as I can see that Prettier has an escape hatch built in for this if the printer provides an implementation of `hasPrettierIgnore`:

https://github.com/prettier/prettier/blob/911d6c88e54a61ca72bd7712f7e2afd9de321b44/src/main/ast-to-doc.js#L97-L103

I'm thinking the implementation should look something like this:

[code]

We'll also want to implement `locStart` and

[2019-02-24 10:33] elia commented on #138
Have you considered using Opal? Is able to compile parser to JS and might allow for a fully JS implementation both locally and in-browser

See https://opalrb.com and https://opalrb.com/try

[2019-02-24 11:58] AlanFoster opened #162 "Remove old npm package"
Oops; I just tried installing the old npm package `prettier-plugin-ruby` instead of `@prettier/plugin-ruby`

https://www.npmjs.com/package/prettier-plugin-ruby

Is there a way to deprecate/delete this npm package? 🤔

[2019-02-24 13:14] #152 closed

[2019-02-24 13:25] kddeisz commented on #138
To my knowledge Opal doesn't have support for Ripper.

[2019-02-24 13:30] AlanFoster commented on #138
Verified that Opal doesn't support Ripper:

[code]

[code]

If it's something that was possible though, that'd definitely be awesome to see!

[2019-02-24 13:32] #153 closed

[2019-02-24 13:34] kddeisz commented on #125
This should be fixed on master. I'm going to push a new version soon, feel free to reopen if not all cases are fixed.

[2019-02-24 13:34] #125 closed

[2019-02-24 13:35] kddeisz commented on #148
Thanks for the report! This should now be fixed on master and will be released soon.

[2019-02-24 13:35] #148 closed

[2019-02-24 13:36] kddeisz commented on #126
This is now fixed on master.

[2019-02-24 13:36] #126 closed

[2019-02-24 14:12] kddeisz commented on #130
This is going to be mostly fixed by #164, the binary chaining and statement chaining in general is something we're going to address later

[2019-02-24 14:15] #131 closed

[2019-02-24 14:15] #130 closed

[2019-02-24 14:32] #158 closed

[2019-02-24 14:52] kddeisz commented on #162
Good thinking. I marked the package as deprecated on npm

[2019-02-24 14:52] #162 closed

[2019-02-24 14:55] #151 closed

[2019-02-24 14:56] #155 closed

[2019-02-24 18:03] aaronjensen commented on #158
thanks again for the quick fix!

[2019-02-24 21:18] elia commented on #138
Yeah, Ripper is not supported, what I meant to suggest was to consider a switch to Parser, which would have the benefit of working for every Ruby implementation and work on the browser.

<details>
<summary>CurrentRuby example</summary>

[code]

[code]
</details>

<details>
<summary>Ruby 2.3 example</summary>

[code]

[code]
</details>

[2019-02-24 22:12] AlanFoster commented on #63
Naively adding `{ shouldBreak: true }` to the [group](https://github.com/prettier/prettier/blob/fa24bacec4a1bb82762bb6d4fcbba5602a240710/commands.md#group) command within the `method_add_arg` handler gets this closer to the formatting that we'd want - and improves some other formatting too

For instance the above snippet formats as:

[code]

Might be worth following a similar path to that perhaps

[2019-02-25 00:13] AlanFoster commented on #138
Ah, thanks for the clarification @elia ! https://github.com/whitequark/parser seems pretty cool
There's also built in comment handling with the Parser gem which is pretty cool:

[code]

@kddeisz What are your thoughts? 👍

[2019-02-25 00:37] AlanFoster commented on #138
As an aside - I've got the initial prettier playground spike deployed to Heroku that's making use of HTTP web calls to prettier-remote which is doing the actual parsing and returning the AST from `@prettier/plugin-ruby@0.7.0`

- prettier-remote PR: https://github.com/kddeisz/prettier-remote/pull/2
- Playground Changes: https://github.com/AlanFoster/prettier/compare/341b5ba...spike-ruby-prettier
-

[2019-02-25 01:27] kddeisz commented on #138
I'm not currently interested in pursuing other approaches to generating the AST - reasons below:

- Ripper is the built-in CRuby lexer and parser, meaning it is the reference implementation. It's not going to get out of sync with stdlib or have bugs or end up in a weird state with any odd edge cases.
- Ripper is also written in C, which means it's fast. I can appreciate the desire to have parsing

[2019-02-25 01:30] kddeisz commented on #63
Yeah the real solution here is on `method_add_arg` calls to loop down the tree and generate a list of all  of the chained method calls, then to print them out manually instead of calling into print with a tree structure. I've started a branch for this but it's pretty hairy so I'm going to give it a bit. I don't want to get too far into `shouldBreak: true` yet, as I'm worried about other implicatio

[2019-02-25 01:39] kddeisz commented on #124
I'm going to close this until we can get some more input.

[2019-02-25 01:40] kddeisz commented on #113
I'm going to close this one in favor of tracking it over at https://github.com/prettier/prettier-vscode/issues/731

[2019-02-25 01:40] #113 closed

[2019-02-25 01:41] kddeisz commented on #55
I'm going to close this in favor of #116 as we're going to ship that soon, and it'll come with a rubocop config.

[2019-02-25 01:41] #55 closed

[2019-02-25 01:42] kddeisz commented on #132
I'd like to go with the last approach on this. Just force everything onto one line. It doesn't really make sense split onto multiple, and if the developer wants a longer line they can have it.

[2019-02-25 01:46] AlanFoster commented on #138
@kddeisz Awesome; Thanks for the extra context + insight :+1:

Is it worth pursuing the approach I've gone with in https://github.com/prettier/plugin-ruby/issues/138#issuecomment-466835635 where prettier-remote returns the AST directly - or are you against the playground integration as a whole?

[2019-02-25 02:02] AlanFoster commented on #149
Hm, was hoping to look into this - but then I noticed that this seems like a mixture of a printing error as well as a parsing error.

It turns out that the printed array is empty, but the `# first` comment is also missing in the AST:

![image](https://user-images.githubusercontent.com/1271782/53309694-2ac5b180-38a1-11e9-9c91-2d70e2cf0347.png)

[2019-02-25 02:28] AlanFoster commented on #132
Sounds good to me; Would we want to go ahead an apply the same formatting to procs too?

Given the input:

[code]

This currently formats as:

[code]

[2019-02-25 02:33] AlanFoster opened #169 "Second format different to first for lambdas"
## Metadata

* Ruby version: 2.5
* @prettier/plugin-ruby version: 0.7.0

## Input

I haven't yet got a more minimal reproducible case, but an example input file is:

[code]

## Current output

### First format

Converted to single line `{ ... }` syntax

[code]

### Second Format:

Converted to `do ... end ` syntax:

[code]

![image](https://user-images.githubusercontent.com/1271782/53310577-58145e

[2019-02-25 02:46] AlanFoster opened #170 "Long Ruby command call is formatted incorrectly"
## Metadata

* Ruby version: 2.5
* @prettier/plugin-ruby version: 0.7.0

## Input

Small snippet from the Rails codebase:

[code]

## Current output

[code]

## Expected output

New line arguments are indented, or aligned with the method call

[2019-02-25 02:49] AlanFoster commented on #170
I just noticed that a normal method call is formatted correctly:

![image](https://user-images.githubusercontent.com/1271782/53311155-a3c80780-38a7-11e9-885a-417e065c43bd.png)

With that extra context, maybe the expected output should be to use the current format of the first method_add_arg example

[2019-02-25 10:51] AlanFoster commented on #170
Taking a quick look into this, I believe the problem is on the handling of the`ifBreak` of `command_call`:

[code]

When it tries to calculate the length of the parts to set the alignment - it's summing over documents rather than strings and calling `length` - which isn't defined. Not sure of the best way to approach a fix for this 🤔

[2019-02-25 12:05] CodingItWrong opened #172 "Changing do/end to curlies results in a syntax error"
## Metadata

* Ruby version: 2.6.1
* @prettier/plugin-ruby version: 0.7.0

## Input

[code]

## Current output

[code]

This produces the following syntax error:

[code]

## Expected output

[code]

[2019-02-25 13:19] chevinbrown commented on #113
Thanks for your work on this, @kddeisz!

[2019-02-26 11:24] AlanFoster commented on #149
The following crashes prettier, but seems to parse successfully:

[code]

Output:

[code]

AST:

![image](https://user-images.githubusercontent.com/1271782/53409509-f8a77300-39b8-11e9-8b97-c7dd00610dbe.png)

[2019-02-26 12:32] AlanFoster opened #175 "Method arguments disappear when comment present"
## Metadata

* Ruby version: 2.5
* @prettier/plugin-ruby version: 0.7

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-02-26 12:36] AlanFoster commented on #175
The arguments seem to be in the RipperJS AST, so I think this is a printing issue:

![image](https://user-images.githubusercontent.com/1271782/53413069-f34f2600-39c2-11e9-842e-6c1a06d535b0.png)

[2019-02-26 13:35] AlanFoster opened #176 "Crashes on comment present after def with no args"
## Metadata

* Ruby version: 2.6
* @prettier/plugin-ruby version: 0.7

## Input

From Rails' source code:

[code]

## Current output

[code]

## Expected output

[code]

[2019-02-26 13:50] AlanFoster opened #177 "Inline comment after def is moved to method body"
## Metadata

* Ruby version: 2.5
* @prettier/plugin-ruby version: 0.7

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-02-26 13:55] AlanFoster commented on #177
Seems like both comments are attached to the def body. I _think_ the inline comment would have to be attached to the `def` to handle this correctly:

![image](https://user-images.githubusercontent.com/1271782/53417483-9f960a00-39cd-11e9-94a5-092ca1c4b951.png)

[2019-02-26 20:08] AlanFoster commented on #177
Some similar weirdness:

Input:

[code]

Output:

[code]

[2019-02-26 20:10] AlanFoster commented on #177
In this scenario the `:doc:` is duplicated and moved to top of the class:

Input

[code]

Output

[code]

[2019-02-26 22:08] orta opened #180 "Strings with escape chars"
## Metadata

* Ruby version: 2.6.x
* @prettier/plugin-ruby version: using  #116

## Input

[From here](https://github.com/yuki24/artemis/blob/8b68c9ee1c1195c89fe01850775038861e6d1f24/artemis.gemspec#L15)

[code]

## Current output

[code]

## Expected output

[code]

Switching from `"` to `'` changes the behavior here 👍

[2019-02-26 22:44] yuki24 commented on #180
Assuming [the `Ripper`](https://docs.ruby-lang.org/en/2.6.0/Ripper.html) is used to parse Ruby code, the issue is that it doesn't distinguish single quotes from double quotes, and there's no way to know which one actually was used once parsed:

[code]

While the VM's interpretation is different:

[code]

I can't think of a good way to work around this TBH...

[2019-02-26 22:55] AlanFoster commented on #180
@yuki24 The escape patterns used to decide between single/double quotes is handled in https://github.com/prettier/plugin-ruby/blob/29447d8a8514fe54fe28f571d9d9c7463a791736/src/escapePattern.js - and is called from: https://github.com/prettier/plugin-ruby/blob/29447d8a8514fe54fe28f571d9d9c7463a791736/src/nodes/strings.js#L5-L9

So this should be possible to fix if it takes your interest! :)

[2019-02-27 01:58] AlanFoster opened #182 "Regression - Crashing with comment and regex"
## Metadata

* Ruby version: 2.5
* @prettier/plugin-ruby version: 0.7

## Input file

Regression from https://github.com/prettier/plugin-ruby/issues/38

[code]

## Current output file

[code]

## Expected output file

[code]

[2019-02-27 05:55] bluz71 opened #183 "Add support for 'outdent' access modifier style."
Hello,

I have begun experimenting with prettier-ruby and it is looking very nice indeed speaking as a Rubyist who already uses Prettier with JavaScript (ES6).

One enhancement, which may get knocked back, is adding in support for outdented access modifiers which are supported by both [Rubocop](https://docs.rubocop.org/en/latest/) and [vim-ruby](https://github.com/vim-ruby/vim-ruby) as listed in t

[2019-02-27 14:34] #132 closed

[2019-02-27 14:37] kddeisz commented on #180
No worries! We mostly handle this, except that I misread the docs and expected 2 hex digits instead of just one.

[2019-02-27 14:37] #180 closed

[2019-02-27 14:55] AlanFoster opened #185 "Single quotes which contain '\n' are incorrectly converted to double quotes"
## Metadata

* Ruby version: 2.5
* @prettier/plugin-ruby version: Master

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-02-27 15:40] AlanFoster commented on #185
I'll look into this

[2019-02-27 16:17] AlanFoster commented on #185
I believe the Ripper AST isn't rich enough currently. Combing the lexer events with the parser events gives us the additional information we need, just need to ensure there's no edge cases 🤞

Input:

[code]

### Before

![image](https://user-images.githubusercontent.com/1271782/53504953-d9890e00-3aaa-11e9-8ca8-e0c3e32f199f.png)

### After

AST now has tstring_beg and tstring_end information merged

[2019-02-27 17:06] NoahTheDuke commented on #81
Looks like this hasn't been fixed fully:
## Input
[code]
Running `rails s` generates this error: `app/models/temp.rb:252:in 'lambda': tried to create Proc object without a block (ArgumentError)`
## Current Output
[code]

## Expected Output
[code]
or
[code]

[2019-02-27 17:09] NoahTheDuke commented on #81
The issue is that the method `scope` captures the `lambda` as the final argument `scope(:my_scope, lambda) do ...` (as discussed [here](https://github.com/rubocop-hq/rubocop/issues/2454#issuecomment-164110171)).

I poked around in `src/nodes.js` but couldn't figure out how to change anything, so I'd love any help to make this change myself. Do you have a Slack channel or something I could join to

[2019-02-27 20:06] AlanFoster commented on #185
Related to #180

[2019-02-28 02:06] orta opened #188 "Logo idea?"
Hey, I was thinking a little bit about the README and thought of this idea:

![prettier-ruby](https://user-images.githubusercontent.com/49038/53536138-300a4280-3ad3-11e9-9a66-6727ec26fb42.png)

As a ruby-ish play on the prettier logo? [Sketch doc](https://ortastuff.s3.amazonaws.com/misc/prettier-ruby.sketch)

[2019-02-28 07:32] dansteren opened #189 "Running prettier on if-else statements generates invalid ruby"
## Metadata

* OS: mac 10.14.3 (mojave)
* Node version: 11.2.0
* Ruby version: ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin18]
* @prettier/plugin-ruby version: 0.7.0

## Background

I'm not super familiar with ruby so I don't know what's legal ternary syntax. However, I'm experiencing an issue with @prettier/plugin-ruby. I have an if/else block that I've simplified from my original cod

[2019-02-28 13:56] AlanFoster commented on #189
Thanks for raising the issue :+1:

Another similar problem related to the above is the `next` keyword in if statements

### Input

[code]

### Output:

Invalid Ruby

[code]

[2019-02-28 14:01] NoahTheDuke commented on #189
Bike shed: Should we be converting if-else’s to ternaries? I don’t feel like we should.

[2019-02-28 14:06] AlanFoster commented on #189
@NoahTheDuke I feel the same way :+1:

Particularly when if statements are used for purely side effects, and not for the expressions that they return.

[2019-02-28 14:27] kddeisz commented on #189
I still feel like we should be in certain circumstances. Obviously we'll need to handle cases like assignments and control flow but for instance

[code]

is not idiomatic ruby. That should be `a = foo ? 1 : 2`. I can take a look at this issue and making sure we have a good list of exceptions to ternary expressions. At the moment I believe it's limited to `command` and `command_call` nodes.

[2019-02-28 14:29] AlanFoster commented on #189
@kddeisz For that particular case - it seems a rule that should be implemented as a linter, rather than a prettier

[2019-02-28 14:32] NoahTheDuke commented on #189
In that case, I'd say it's more idiomatic to write
[code]
which is all over the codebases I work on.

[2019-02-28 14:58] kddeisz commented on #189
There are a ton of things in this codebase that you could make that argument with. For instance:

- Converting octal literals from `0xx` to `0oxx`.
- Converting alias calls from using symbols to using bare identifiers.
- Converting array literals into %w or %i form.
- Converting `if`, `unless`, `while`, and `until` into their modifier forms.
- Converting `rescue` from its modifier form.
- etc.

It

[2019-02-28 15:00] kddeisz commented on #188
Whoa!!! This is amazing!

Any chance you want to take it further and make it animate like https://prettier.io/?

Either way this is amazing. Feel free to open a PR on the main README with this and replace the current images.

[2019-02-28 19:01] orta commented on #188
Ah hah, nope on the animation - it took us a lot of work to build that the first time, and code-wise it's not too transferrable to this style

it is an [npm module](https://github.com/prettier/prettier-logo) though, so it's feasible if someone wants to recreate all the lines with the new positioning though

[2019-03-01 00:54] kddeisz opened #190 "Our test suite takes too long to run"
A couple of things need to change:

- [ ] We shouldn't run every single test case against each config. When it was smaller it made sense, now it's just crazy. Instead we should run each test case against our default config, and then ensure we have test coverage for the other options.
- [ ] We shouldn't parse each error file each time, we should just put that into memory. I don't know why I put the

[2019-03-01 01:00] kddeisz commented on #188
@orta this is beautiful and I've updated the main README with it. Thank you so much!

[2019-03-01 01:00] #188 closed

[2019-03-01 01:05] AlanFoster commented on #190
I can look into this, the minute long test suite has been killing me haha

[2019-03-01 13:02] AlanFoster commented on #50
Just consolidating some concise examples created from the above snippet/issues that could be used as test cases:

[code]

[code]

[code]

[code]

I've never seen the syntax for multiple heredocs as arguments before, but here we are:

[code]

[2019-03-03 18:20] #190 closed

[2019-03-04 14:26] kddeisz opened #196 "Build a rake task people can inherit"
For the ruby gem, I want to provide a rake task that folks can use to configure a flow within rake. It would look something like:

https://github.com/troessner/reek/blob/master/lib/reek/rake/task.rb

Basically the only option would be to provide a path to a config file that is different from the default config path.

[2019-03-04 15:19] kddeisz commented on #170
This was fixed by #179

[2019-03-04 15:19] #170 closed

[2019-03-04 18:38] kddeisz commented on #183
Hi there - I'd be open to this. It's a pretty minimal change and I know other people like this kind of indentation. Don't have bandwidth at the moment to work on this but I'll leave it open as something we could do.

[2019-03-06 08:46] RossKinsella opened #198 "Replacing meaningful ["#{x}", 'string'] with %w[#{x} string]"
## Metadata

* Ruby version: 2.5.3
* @prettier/plugin-ruby version: ^0.6.3

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-03-07 22:49] #196 closed

[2019-03-07 23:00] kddeisz commented on #198
Thanks for the report! That will be fixed by #201 and will be released soon.

FWIF, that could be `Tempfile.new([file_name, 'xlf'])`. (That's where our test coverage was lacking.)

[2019-03-07 23:00] #198 closed

[2019-03-12 09:01] gin0606 commented on #169
I have same issue.

We probably need to pass tests like this

[code]

[2019-03-14 15:43] eins78 opened #206 "`--require-pragma` option is ignored"
When I run this command I would expect that only files with the pragma are formatted:
`RBENV_VERSION=2.6.2 npx prettier --write --require-pragma '**/*.{rb,rake}'`

But, the option is ignored and _all_ files are formatted.

Support for this prettier feature would be useful for gradual adoption of a large codebase (only prettify files I am working on right now).
Docs: https://prettier.io/docs/en/cli

[2019-03-18 19:00] rhiroy commented on #189
I ultimately prefer the ternary option, if it's working!

I just ran Prettier on my entire Ruby codebase and I too have some valid (but awkwardly written) if-else statements that got transformed into invalid ternary statements. My issue is basically identical to @dansteren

I guess for the moment I will have to discard changes I made by running Prettier. I'm not sure what a good temporary solution

[2019-03-18 19:37] kddeisz commented on #206
This is now fixed on master and will be released as part of the next release.

[2019-03-18 19:37] #206 closed

[2019-03-18 21:52] stevenpetryk opened #214 "Improperly indents methods with inline access modifiers"
## Metadata

* Ruby version: 2.5.3
* @prettier/plugin-ruby version: 0.8.0

[Explicit privates](https://anti-pattern.com/explicit-privates) is one way to declare private methods. Syntactically, it is more like `private(def foo; stuff; end)`, since `def` returns the symbolized name of the method.

## Input

[code]

## Current output

[code]

## Expected output

[code]

Same story with `protected`.

[2019-03-19 02:48] localhostdotdev opened #216 "Formatting of long line with block chained with another method and some string concatenation"
## Metadata

* Ruby version: ruby 2.7.0dev (2019-03-18 trunk 67296) [x86_64-darwin17]
* @prettier/plugin-ruby version: 0.9.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

To be honest I'm quite surprised at how well this program formats my codebase, this is a very special case which doesn't show great ruby code, but I was quite surprised by the output. The ` .join("\n")

[2019-03-19 02:53] localhostdotdev commented on #216
A simpler example would be:

[code]

which is formatted to:

[code]

The string at the end actually makes sense as it's aligned with the first string that starts the concatenation.

[2019-03-19 03:06] localhostdotdev opened #217 "Interpolation of functions in multi-line strings"
## Metadata

* Ruby version: ruby 2.7.0dev (2019-03-18 trunk 67296) [x86_64-darwin17]
* @prettier/plugin-ruby version: 0.9.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

The longer line is triggering it.

[2019-03-19 09:14] djrodgerspryor opened #218 "TypeError when --cursor-offset is specified"
## Metadata

* Ruby version: 2.6.1p33
* @prettier/plugin-ruby version: 0.9.0
* prettier version: 1.16.4

## Input

`test.rb`
[code]

## Current output
Command:
[code]

Crash:
[code]

## Expected output

[code]

It looks like the vue plugin had a similar problem at one point (https://github.com/prettier/prettier/issues/4867) but I'm not sure whether that's relevant.

This looks like it might be a b

[2019-03-19 12:53] kddeisz commented on #218
Thanks for the report! Yeah I haven't implemented `locStart` or `locEnd` yet, so this is definitely an open issue.

[2019-03-19 12:55] kddeisz commented on #189
This should be fixed in v0.9.0. Feel free to open a new issue if something isn't working.

[2019-03-19 12:55] #189 closed

[2019-03-19 14:01] localhostdotdev commented on #216
I saw it in many more cases and it seems to be the intended behavior. It works quite well when there is no `do end` block but maybe joining the next command of the `do end` block would make it much better.

[2019-03-19 14:03] kddeisz commented on #216
Thanks for the report! Yeah this is an issue we've had since the beginning. The `.join` is being treated as a method chain so it gets indented to the next line. Haven't found a good way to fix this yet.

[2019-03-19 19:16] #185 closed

[2019-03-20 18:56] AndrewRayCode commented on #214
This behavior may be expected :( https://github.com/prettier/plugin-ruby/issues/127

[2019-03-20 19:02] kddeisz commented on #214
No so much expected as not yet fixed. It's largely solved by https://github.com/prettier/plugin-ruby/pull/174, which I'm looking at this week.

[2019-03-20 23:14] AlanFoster commented on #218
For visibility - the locStart/locEnd implementation is also required for https://github.com/prettier/plugin-ruby/issues/104

[2019-03-22 13:03] jjaffeux opened #220 "Improperly formatted long string followed by comparison operator"
## Metadata

* Ruby version: 2.6.1
* @prettier/plugin-ruby version: 0.9.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

at least .to_i and size should be on same line

[2019-03-25 01:55] #50 closed

[2019-03-25 12:37] justgage opened #222 "Ripper saying `attr_reader' called for RipperJS:Class does not exist"
I keep getting this error, even when the file is 3 lines:

[code]

File:

[code]

I installed it locally in a package.json file and ran it like: `./node_modules/.bin/prettier --write '**/*.{rb,rake}'`

[2019-03-25 12:50] kddeisz commented on #222
What version of ruby are you running?

[2019-03-25 13:11] #216 closed

[2019-03-25 13:17] kddeisz commented on #222
So `attr_reader` became public in 2.5, so I assume you're running a version of ruby we don't support (as the README says, it's gotta be at least 2.5 because of a limitation of Ripper). I've updated the error message so it's better, but you're not going to be able to use this unless it's at least 2.5.

[2019-03-25 13:17] #222 closed

[2019-03-26 16:14] aaronjensen opened #226 "Confusing indentation for method invocations a la rspec"
## Metadata

* Ruby version: 2.5.1
* @prettier/plugin-ruby version: 0.10.0

## Input

[code]

## Current output

[code]

## Expected output

Ideally:

[code]

or potentially (but I'm personally not a fan of this):

[code]

[2019-03-26 16:20] aaronjensen opened #227 "Comment in object toggles position"
## Metadata

* Ruby version: 2.5.1
* @prettier/plugin-ruby version: 0.10.0

## Input

[code]

## Current output

[code]

## Output after running a second time

[code]

[2019-03-26 22:38] justgage commented on #222
Ok thanks for the response @kddeisz, I was using `ruby 2.3.8` so that's probably the problem

[2019-03-28 22:11] janpio opened #228 "Global installation also needs plugin?"
README says:

When I did only that I always got error messages like this:

[code]

I also had to `npm install -g @prettier/plugin-ruby` to get the command working via the global install.

(Windows 10, Cmder)

[2019-03-29 14:19] kddeisz commented on #228
That's totally correct, that should have `npm install -g @prettier/plugin-ruby` instead because it'll pick up the `prettier` dependency when it installs. Feel like sending another PR for the README?

[2019-03-29 15:19] janpio commented on #228
Sure.

But let me test if you don't also have to install `prettier` globally to actually get the binary.

[2019-03-29 15:43] janpio commented on #228
Nope, you actually have to install both globally: The plugin for the functionality, and the CLI so the `prettier` commands becomes globally available:

[code]

[2019-03-30 12:25] kddeisz commented on #228
If you install with depth 0 it's not going to install any dependencies, so that would definitely be a problem. I don't mind just listing `prettier @prettier/plugin-ruby` in the install command as that definitely fixes it.

[2019-03-31 13:52] janpio commented on #228
I did not install with depth 0, but check the installed packages with it.

[2019-03-31 19:51] kddeisz commented on #228
I've updated the README with the instructions, thanks for the report!

[2019-03-31 19:51] #228 closed

[2019-04-01 14:18] localhostdotdev opened #231 "operation(a: 1) { |s| s.to_i } becomes operation(a: 1)(&:to_i) which is invalid ruby"
## Metadata

* Ruby version: ruby 2.7.0dev (2019-03-18 trunk 67296) [x86_64-darwin17]
* @prettier/plugin-ruby version: 0.10.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-04-01 15:11] kddeisz commented on #231
Yup - thanks. Will get this fixed. If anyone's looking for a contribution, the toProcTransform function needs to be moved up the AST to be at the arguments level and not the individual block level.

[2019-04-02 00:24] localhostdotdev opened #233 "Detect ruby files with shebang"
e.g. ideally things like `bin/update` with `!/usr/bin/env ruby` would be detected as ruby code.

It doesn't seem possible to do it from `.prettierrc`.

Maybe related to this line of code (https://github.com/prettier/plugin-ruby/blob/master/src/ruby.js#L4):

[code]

I'm not sure, but seems like pragma is what prettier calls the shebang.

[2019-04-02 00:28] stevenpetryk commented on #231
I'll take a crack at it :)

[2019-04-02 00:40] stevenpetryk commented on #231
Looks like `toProcTransform` already attempts to handle this case, and it handles the following case correctly:

[code]

so it'll instead be a matter of figuring out why it chokes on things like:

[code]

I'm assuming it's just some naivety in how it's detecting when it's part of a `command_call`.

[2019-04-02 00:59] stevenpetryk commented on #231
Interesting, ripper seems to parse these two expressions super differently:

`test('foobar') { |bar| bar.to_s }`

[code]

`test 'foobar' do |bar| bar.to_s end`

[code]

[2019-04-02 01:08] stevenpetryk commented on #231
Yeah, looks like hoisting up into params would be best :)

[2019-04-02 17:59] kddeisz commented on #233
It should work already - https://github.com/prettier/prettier/pull/5149.

Pragma is prettier's own thing which allows for incremental adoption (by passing `--require-pragma` prettier will only run on files that report back that they have the pragma).

If you try running `prettier` on files with a ruby shebang it should just work. Can you check on your end?

[2019-04-02 20:33] localhostdotdev commented on #233
[code]

(`app/models/user.rb` works for instance)

[2019-04-02 20:35] kddeisz commented on #233
Oh whoops I'm sorry I was explicitly passing the parser. Yeah I'll look into this further.

[2019-04-02 20:40] kddeisz commented on #233
Easier than I thought! https://github.com/prettier/plugin-ruby/pull/234

[2019-04-02 20:40] #233 closed

[2019-04-03 22:21] stevenpetryk commented on #231
Going to give up, sorry! Hope my little investigation comes in handy though.

[2019-04-04 01:49] localhostdotdev opened #238 "Comments on an hash's value doesn't get counted for the line length"
## Metadata

* Ruby version: `ruby 2.7.0dev (2019-03-18 trunk 67296) [x86_64-darwin17]`
* @prettier/plugin-ruby version: `0.10.0`

## Input

[code]

## Current output

[code]

## Expected output

[code]

or better:

[code]

[2019-04-04 02:17] localhostdotdev opened #239 "Adding new empty lines?"
## Input

[code]

## Current output

[code]

## Expected output

[code]

-----

Not sure about this, but personally one thing I do is add newlines manually, and I'm pretty sure this could be automated :).

In this example, adding newlines before/after `require` (not followed/preceded by another `require`/`require_relative` (maybe `load` too)) makes it more readable IMHO.

Also adding newlines befo

[2019-04-04 02:51] localhostdotdev opened #240 "Current state of differences with rubocop --auto-correct"
## Metadata

* Ruby version: ruby 2.7.0dev (2019-03-18 trunk 67296) [x86_64-darwin17]
* @prettier/plugin-ruby version: 0.10.0 73d1dbdeac7d678e8679a0175eff7781c3ed5717
* `rubocop -v`: 0.66.0
* `.rubocop.yml`:

[code]

Could be handled by prettier-ruby:

- Alphabetical ordering of gems in Gemfile
- single quotes strings with only backslash escaped, e.g. `"\\"` -> `'\\'`
- Rearrange arguments around

[2019-04-05 18:04] jpickwell opened #241 "Incorrect comma placement for squiggly HEREDOC."
## Metadata

* Ruby version: 2.5.3
* @prettier/plugin-ruby version: 0.10.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-04-05 21:55] jpickwell commented on #150
This isn't restricted to array access. It just doesn't like comments as the first thing in a block.

Input:
[code]

Current Output:
[code]

Expected Output:
[code]

If I wrap the `t.string` params in parenthesis, then it becomes this:
[code]
which is also wrong.

[2019-04-08 12:00] localhostdotdev opened #242 "error when using string to symbol hash key"
## Metadata

* Ruby version: ruby 2.6.2p47 (2019-03-13 revision 67232) [x86_64-darwin17]
* @prettier/plugin-ruby version: 0.10.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-04-08 14:53] mikelieser commented on #242
Same here. Just installed version 0.10.0 and got this error. **It's working with version 0.9.1.**

ruby version: 2.5.3

[2019-04-08 16:00] localhostdotdev commented on #242
I'm looking at it and it seems to be from `const { quote } = path.getValue().body[0];` at `src/nodes.js:246` where `quote` is `undefined`.

AST for `path.getValue()` is:

[code]

[2019-04-09 12:28] JoshuaKGoldberg opened #244 "Add a flag to allow Ruby versions below 2.5"
Yes, I've read #23 and #24: you explicitly only support Ruby version `2.5` and up. _But_ a couple of old crusty internal codebases I work on haven't _(yet!)_ made the jump. Using this tool would actually help make the code clearer and therefore easier to upgrade.

Could there be a config setting like `skipVersionCheck` that would indicate not to make sure the Gem version is `2.5` or higher please?

[2019-04-09 12:52] JoshuaKGoldberg opened #245 "A new TypeError: Cannot read property 'type' of undefined"
## Metadata

* Ruby version: 2.5.3
* `@prettier/plugin-ruby` version: 0.10.0

## Input

[code]

## Current Output

A crash happens with what looks like a different call stack than #64:

[code]

[2019-04-09 13:00] JoshuaKGoldberg opened #246 "String parameters without parenthesis followed a comment are removed"
## Metadata

* Ruby version: 2.5.3
* `@prettier/plugin-ruby` version: 0.10.0

## Input

[code]

This buggy behavior only occurs when the comments exist.

## Current output

The strings followed by comments shouldn't be removed.

[code]

## Expected output

[code]

[2019-04-09 14:03] kddeisz commented on #239
Ehh I don't know. This could get frustrating fast for developers trying to keep things terse in small methods. For instance in a shorter lexical scope (a method with 2 or 3 lines), I don't mind compressed statements, but in a longer one (an inline script with 50 lines) I was some separation. I think without a lot of context of the application we're prettifying this could get really tough to mainta

[2019-04-09 14:03] #239 closed

[2019-04-09 14:17] kddeisz commented on #240
So one of the stated goals is not modifying program behavior. So for that alone that excludes all of the "probably unrelated" ones. As for the other ones:

- Alphabetical ordering of gems in Gemfile - tbh I hate this. Gemfiles are just ruby code, so could be as complex as any other application. So short of writing a ruby interpreter, there's no way to do this without some kind of catches where it

[2019-04-09 18:16] localhostdotdev commented on #245
duplicate with #242

[2019-04-09 19:10] JoshuaKGoldberg commented on #245
😂 no matter how much duplicate issue searches you do... thanks for the spot!

[2019-04-09 19:10] #245 closed

[2019-04-09 19:33] localhostdotdev opened #247 "begin/rescue in method to just rescue"
## Input

[code]

## Current output

[code]

## Expected output

[code]

From #240:

[2019-04-09 19:34] localhostdotdev opened #248 "$0 -> $PROGRAM_NAME"
**current**: `$0`

**expected**: `$PROGRAM_NAME`

#240

[2019-04-09 19:35] localhostdotdev opened #249 "Prettify numbers 1000000 into 1_000_000"
**current**: `1000000`

**expected**: `1_000_000`

#240

[2019-04-09 19:38] localhostdotdev opened #250 "Align the chained methods to start from the first chained method indentation"
**current**:

[code]

**expected**:

[code]

#240

[2019-04-09 19:39] localhostdotdev opened #251 "lambda to ->"
**current**:

[code]

**expected**:

[code]

#240

[2019-04-10 19:10] localhostdotdev commented on #45
(running the test suite against the rails codebase and checking for errors would be sweet)

[2019-04-10 22:05] clarkdave commented on #175
Not sure if this is a variation on the same issue, or a different one, but I've found that end-of-line comments can cause code loss in the following situation as well:

## Input

[code]

## Current output

[code]

## Expected output

[code]

Related: https://github.com/prettier/plugin-ruby/issues/226

[2019-04-11 18:39] deecewan opened #252 "Parser cannot handle symbols in a hash if surrounded with quotes"
I have some code that was failing the parser. I managed to reduce it to this specific case:

[code]

The error is:

[code]

The use-case for the code is to have a hash with `{ 'Content-Type': 'application/json' }`. `{ :'Content-Type' => 'application/json' }` *works*, but it doesn't follow the `preferHashLabels` rule correctly.

[2019-04-11 18:52] localhostdotdev commented on #252
duplicate of #242

[2019-04-11 20:54] deecewan commented on #252
So it is! I checked through, but couldn't find anything. I only narrowed down the cause after I'd started creating the issue.

[2019-04-11 20:54] #252 closed

[2019-04-11 21:12] deecewan commented on #242
this is the `dyna_symbol` handler in v0.9.1

[code]

looks like it's trying to enforce the usage of a double-quote in that version, and in the latest version, it's trying to maintain the quote choice that was used?

[2019-04-11 21:34] localhostdotdev commented on #242
thanks for the idea of digging the code from the old version, I tried it and got something working:

[code]

[2019-04-11 22:39] deecewan commented on #242
I just fixed it - got a PR coming very soon.

[2019-04-14 14:56] kddeisz commented on #248
If anyone wants to take this one, it should be a relative easy fix. Add another "layer" to `src/ripper.rb` that defines an `on_gvar(body)`, then if `body === "$0"` then replace with `$PROGRAM_NAME`.

[2019-04-17 05:44] AndrewRayCode commented on #248
I've never seen prettier rename a variable. It doesn't seem like renaming magic globals should be in the domain of a code formatter? I think that's fine for a linter though

[2019-04-17 09:03] kddeisz commented on #248
That's a fair point. I don't mind skipping this one.

[2019-04-17 09:44] #242 closed

[2019-04-17 22:27] kddeisz commented on #249
Closed by #261

[2019-04-17 22:27] #249 closed

[2019-04-17 22:28] kddeisz commented on #227
Yeah this is a dup of #128, we have some issues with inline comments inside array and hash literals.

[2019-04-17 22:28] #227 closed

[2019-04-18 01:21] kddeisz commented on #250
This is actually a dup of #63, so I'm going to close this one.

[2019-04-18 01:21] #250 closed

[2019-04-18 01:23] kddeisz commented on #169
This is actually because of #251, so I'm going to close this one. The issue is currently `lambda` nodes are not being reported if it's written using the `lambda` function. We need to override the parser to make that happen.

[2019-04-18 01:23] #169 closed

[2019-04-18 01:24] kddeisz commented on #214
This just got fixed by #262, and will be deployed soon.

[2019-04-18 01:24] #214 closed

[2019-04-18 01:44] #226 closed

[2019-04-18 02:59] #231 closed

[2019-04-18 04:38] kddeisz commented on #45
Okay I'm going to close this again as it's pretty much stalled. Writing a clean function would require doing a pretty massive refactor and rerunning the parser would be very costly for performance. If there's another idea or PR, let's open up another one as this is starting to spam a lot of folks.

[2019-04-18 04:38] #45 closed

[2019-04-18 04:39] kddeisz commented on #120
Closing this as it's no longer compatible with the new tests.

[2019-04-18 04:39] #120 closed

[2019-04-18 05:00] #182 closed

[2019-04-18 05:44] #172 closed

[2019-04-18 08:32] janklimo opened #268 "Failure to parse method options with keys as strings"
Formatting a file with the following line fails:

[code]

Here's the error I'm seeing:

[code]

It looks like passing options with keys as strings is the problem, as this fails as well:

[code]

while the following doesn't:

[code]

This is the only error I've come across formatting our codebase (564 files), nice! Thank you for your work on this 👍

[2019-04-18 09:42] github0013 commented on #104
I also had a case where I didn't want prettier to format.

[code]

So I tried this extension, but it didn't stop the formatting for prettier-ruby.
https://marketplace.visualstudio.com/items?itemName=tombonnike.vscode-status-bar-format-toggle

Can we at least have this extension work with prettier-ruby?

[2019-04-18 11:35] kddeisz commented on #268
This is fixed on master. Will be released very soon!

[2019-04-18 11:35] #268 closed

[2019-04-18 11:36] kddeisz commented on #104
@github0013 that behavior is fixed on master and is going to be released soon. The `#prettier-ignore` behavior is after that. A PR would be welcome as well.

[2019-04-18 11:59] AlanFoster commented on #104
@kddeisz I'm good to send a PR for this, would appreciate your thoughts on https://github.com/prettier/plugin-ruby/issues/104#issuecomment-466726138

I also think this implementation will be impacted by comment handling 🤔

[2019-04-18 20:20] #241 closed

[2019-04-18 20:33] #247 closed

[2019-04-18 20:53] kddeisz commented on #183
I've been looking at this for a while now and I think I'm going to go without supporting it. I'm fighting prettier's implementation because once you're indented into a class or module you can't dedent past it, so this would have to touch class and module printing as well as statement printing. Thanks for the report, if you want to try submitting a PR I'd be happy to look at it, but otherwise I'm n

[2019-04-18 20:53] #183 closed

[2019-04-18 21:01] kddeisz commented on #139
This is fixed (ish) on master in that it goes to

[code]

This is definitely one of those things that will need to get fixed in a larger comment overhaul, but for now this is fine so I'm going to close this one.

[2019-04-18 21:01] #139 closed

[2019-04-18 22:32] #251 closed

[2019-04-18 23:12] kddeisz commented on #220
On master right now `.to_i` has been moved up, but `to_i > size` is still broken on lines because the comparison is multi-line. I'm going to tentatively call that consistent and therefore close this one.

[2019-04-18 23:12] #220 closed

[2019-04-19 00:59] github0013 commented on #104
@kddeisz thanks!

[code]

and restarted vscode, fixed the `change do ... end` syntax error.

[code]

[2019-04-19 10:38] localhostdotdev opened #273 "not picking up the readme on npm"
going to https://www.npmjs.com/package/@prettier/plugin-ruby

there isn't a readme, might be a bug of npm itself, not sure (maybe because of the package name?)

[code]

https://docs.npmjs.com/files/package.json

[2019-04-19 13:02] kddeisz commented on #273
Yeah I think this might be an NPM issue (https://github.com/npm/www/issues/395). You can see it when you download the file and if you click test with runkit it's there.

[2019-04-19 13:02] #273 closed

[2019-04-19 15:16] gin0606 opened #274 "TypeError: Cannot read property 'type' of undefined"
## Metadata

* Ruby version: ruby 2.6.0p0 (2018-12-25 revision 66547) [x86_64-darwin17]
* @prettier/plugin-ruby version: 0.12.0

---

[code]

When I try to format file like ↑this, I get the following error.
I found this issue in this file https://github.com/fastlane/fastlane/blob/483cf986bfdd441ec861d6dad9b77b75107f37a4/deliver/lib/deliver/app_screenshot.rb

[code]

[2019-04-19 19:07] gin0606 opened #275 "TypeError: contents.some is not a function"
## Metadata

* Ruby version: ruby 2.6.0p0 (2018-12-25 revision 66547) [x86_64-darwin17]
* @prettier/plugin-ruby version: 0.12.0

---

[code]

When I try to format file like ↑this, I get the following error.
I found this issue in this file https://github.com/rails/rails/blob/92c464373abe7c486e189b21a6376aca01173b06/actionpack/test/dispatch/debug_exceptions_test.rb

[code]

[2019-04-20 04:50] jesseduffield opened #276 "assignment is broken into two lines to avoid do-end block"
## Metadata

* Ruby version: 2.5.1
* @prettier/plugin-ruby version: 0.12.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

I think that breaking an assignment into two lines reduces readability, even if it means the alternative is three lines long to hold the `end` keyword.

This may be an opinion thing but I rarely break assignments into two lines when writing ruby

[2019-04-20 22:20] kddeisz commented on #276
Yeah the way prettier works is to break up outer nodes before inner, so the assignment gets broken before the block. This was intentional to give clarity to method chains. I'd be happy to take a look at a PR if you want to build an option to support this behavior but I don't personally have time to build it.

[2019-04-20 22:20] #276 closed

[2019-04-21 05:09] willisplummer opened #279 "Deletes comment and ENV accessor"
Very excited about this project!

I'm running @prettier/plugin-ruby 0.12.0 and ruby 2.6.2

before:

[code]

after:

[code]

worth noting that it doesn't make any changes to the file when the comment is absent

[2019-04-21 05:11] willisplummer commented on #279
realizing that this is maybe the same issue. sorry https://github.com/prettier/plugin-ruby/issues/175

[2019-04-21 11:30] CodingItWrong opened #280 "Converting stabby lambda to lambda keyword results in ArgumentError"
## Metadata

* Ruby version: `ruby 2.6.2p47 (2019-03-13 revision 67232) [x86_64-darwin18]`
* @prettier/plugin-ruby version: `0.12.0`

## Input

[code]

## Current output

[code]

This output results in an error when executing:

[code]

I'm not quite sure why this is happening; it _sounds_ like a difference of precedence between the `lambda` keyword and stabby lambdas, like the block is being passe

[2019-04-21 16:05] NoahTheDuke commented on #280
The issue is the `filter` implicitly wraps the lambda: `filter(:complete, apply: lambda) do...` . The fix as you said is to put the parens around the lambda and it’ll work.

[2019-04-21 17:24] CodingItWrong commented on #280
I don't think Prettier-Ruby should do this transformation in a case where it causes a program error, though. Or, at least, it could add the parens to ensure it keeps working.

[2019-04-21 23:32] kddeisz commented on #279
Yeah it is a duplicate. No worries! I've been working on a big comment refactor for a while and it will cover this case.

[2019-04-21 23:32] #279 closed

[2019-04-21 23:34] kddeisz commented on #280
Yeah the problem here is operator precedence. The lambda should be using `{}` (which has higher precedence) versus `do...end`. I don't think I've seen the case where it's a multi-line breaking lambda as a hash value, which is probably the problem.

[2019-04-21 23:45] CodingItWrong commented on #280
If it's rare to see this, definitely feel free to prioritize accordingly :+1:

[2019-04-21 23:54] kddeisz commented on #280
Ehh wasn't so hard. Going to merge the fix, will be part of the next release.

[2019-04-21 23:59] #280 closed

[2019-04-24 02:10] jemmyw opened #285 "Here doc in nested method call"
This is a bug because the code produced is invalid.

## Metadata

* Ruby version: 2.5.5
* @prettier/plugin-ruby version: 0.12.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-04-30 09:53] xipgroc opened #288 "Regression: 0.12.1 deletes entire blocks"
First time user here, I first installed 0.12.1 and ran it on my code and noticed in several places that some of the blocks where removed. Then tried 0.10.0 and output was as expected.

## Metadata

* Ruby version: 2.6.3
* @prettier/plugin-ruby version: 0.12.1

## Input

[code]

## Current output

[code]

## Expected output

[code]

Curiously, when executing it over this code
[code]
the output beco

[2019-04-30 14:39] kddeisz commented on #288
Thanks @xipgroc! This was fixed by #289, and I'm going to push out a new version now.

[2019-04-30 14:39] #288 closed

[2019-05-02 08:34] thomasdarde opened #291 "Incorrect alias rewriting"
## Metadata

* Ruby version: 2.5.1
* @prettier/plugin-ruby version: 0.12.2

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-05-02 09:14] glejeune opened #292 "Error in Ternary Operator"
## Metadata

* Ruby version: 2.6.0
* @prettier/plugin-ruby version: 0.12.2

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-05-02 15:15] kddeisz commented on #291
Hi @thomasdarde, this is actually expected behavior. This follows the suggestion from the ruby community style guide here: https://github.com/rubocop-hq/ruby-style-guide#alias-method-lexically.

[2019-05-02 15:15] #291 closed

[2019-05-02 15:41] king601 opened #294 "Formatting breaking on comments inside of lambda"
## Metadata

* Ruby version: 2.5.3
* rbprettier(gem) version: 1.17.0

## Input

[code]

## Current output

Running `rbprettier --write test.rb` in my terminal (after saving the snippet above to test.rb) results in the following error.

[code]

## Expected output

It not to throw an error :)

[2019-05-02 16:20] #292 closed

[2019-05-02 16:33] kddeisz commented on #150
Finally have a fix for this

[2019-05-02 16:35] kddeisz commented on #246
This is fixed-ish on master. Technically the comment needs to break the block, but I'm incorporating that into another PR.

[2019-05-02 16:35] #246 closed

[2019-05-03 07:51] xipgroc commented on #288
Thanks a lot, I've been using prettier for js for a while and now it's great to have it on ruby as well.

[2019-05-09 06:16] mmcnl opened #301 "syntax error when method is passed a heredoc string and a block"
## Metadata

* Ruby version: ruby 2.5.1
* @prettier/plugin-ruby version: v0.12.2
## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-05-09 13:40] kddeisz commented on #301
Oof yeah that's a tough one. I'll take a look.

[2019-05-14 20:38] JoshuaKGoldberg commented on #124
@kddeisz I'm seeing this same issue.

`.pretterrc.js`:

[code]

[2019-05-14 20:48] JoshuaKGoldberg opened #303 "Cannot read property 'type' of undefined: new &block"
Minimal repro:

[code]

[code]

* Ruby: 2.5.5p157
* @prettier/plugin-ruby: 0.12.2

[2019-05-14 20:55] mpoisot opened #304 "Code loss from transformation of symbol arrays"
## Metadata

* Ruby version: ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin18]
* @prettier/plugin-ruby version: 0.12.2
Installed in ~/.vscode/extensions/esbenp.prettier-vscode-1.9.0 as suggested [here](https://github.com/prettier/plugin-ruby/issues/113#issuecomment-464203844).

## Input

[code]

## Current output

[code]

## Expected output

1. I don't expect test1 and test2 lines to los

[2019-05-14 22:02] kddeisz commented on #304
Hi @mpoisot -

1. The code you gave is invalid ruby. There's a bug in that prettier isn't telling you it's invalid, but it is.
2. This is intentional. `%i` literal arrays are not a configuration option - they're meant to replace all arrays with just simple symbol literals.

[2019-05-14 22:02] #304 closed

[2019-05-15 01:25] mpoisot commented on #304
Is there some background story behind converting to %i arrays? Is it superior somehow, or just a style consistency thing?

[2019-05-15 10:28] xipgroc opened #305 "Inline comments delete hash accessor"
Prettier-ruby breaks existing code by removing anything inside the brackets of the accessor of a hash or array, if an inline comment follows.

May I suggest that you put a comment in your front github page stating that this plugin is not ready for production? I will continue using it but much more carefully, as I think is breaking a lot of things in our code base.

## Metadata

* Ruby version: 2.6

[2019-05-15 11:58] kddeisz commented on #304
Pretty much all of the decisions in here are from the community ruby style
guide. This one in particular is from

https://github.com/rubocop-hq/ruby-style-guide/blob/master/README.md#percent-i

On Tue, May 14, 2019 at 9:25 PM marcel <notifications@github.com> wrote:

--
*Kevin D. Deisz*
CTO, CultureHQ <https://www.culturehq.com>

[2019-05-15 12:52] kddeisz commented on #124
@JoshuaKGoldberg are you using the gem or the npm package?

[2019-05-15 13:09] #303 closed

[2019-05-15 13:09] kddeisz commented on #303
Thanks @JoshuaKGoldberg - that'll go out in the next release

[2019-05-15 13:33] JoshuaKGoldberg commented on #124
npm package.

This is in the scripts in a package.json, invoked via yarn:

[code]

* Ruby: 2.5.5p157 (2019-03-15 revision 67260) [x86_64-darwin18]
* Node: 8.10.0
* `prettier` package: 1.16.4
* `@prettier/plugin-ruby` package: 0.12.2

macOS Mojave 10.14.4

[2019-05-15 17:25] mpoisot commented on #304
Very helpful, thanks.

[2019-05-15 17:34] kddeisz commented on #304
No worries! Thanks for trying the plugin!

[2019-05-15 19:14] dudeofawesome opened #307 "Overflowing backtick commands recursively add newlines"
## Metadata

* Ruby version: ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux]
* @prettier/plugin-ruby version: 0.12.2

## Input

[code]

## Current output

[code]

which then outputs
[code]

and so on, adding 2 newlines on every format run, eventually leading to something like this

[code]

## Expected output

[code]

[2019-05-15 19:17] kddeisz commented on #307
Lol. Will fix.

[2019-05-15 19:19] dudeofawesome commented on #307
Out of curiosity, do you know if this is a regression?

[2019-05-15 19:25] kddeisz commented on #307
Don't know. It's possible - it looks like we don't necessarily have a test for this. I'll certainly be adding one in the fix.

[2019-05-16 13:50] kddeisz commented on #305
Thanks @xipgroc, that'll go out in the next release.

[2019-05-16 13:50] #305 closed

[2019-05-17 11:00] xipgroc opened #309 "Comment inside of block forces new line in method call"
I saw a related issue, but I'm not sure it is exactly the same case.

## Metadata

* Ruby version: 2.6.3
* @prettier/plugin-ruby version: 0.12.3

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-05-17 13:14] kddeisz commented on #309
Yeah this is another one of a series of things that need fixing because of the comments abstraction we currently have. I'm still working on the bigger pull request, but I'll patch this one up in the meantime.

[2019-05-17 13:41] #309 closed

[2019-05-22 03:37] jazzdragon opened #312 "assignment to a symbol creates a new line"
## Metadata

* Ruby version: 2.5.5
* @prettier/plugin-ruby version: 0.10.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-05-22 03:46] #312 closed

[2019-05-22 03:47] jazzdragon commented on #312
Closed because I think I was wrong with diagnosis. It's not because of the symbol, seems to be affected by a comment on the line above, but it's not consistent.

[2019-05-22 15:30] AluisioASG commented on #55
Is this solved? All related issues have been closed and I can't find any guidance on configuring RuboCop. I'm using the npm package.

[2019-05-22 15:45] jazzdragon commented on #63
Seems like this is related enough for me not to open a new issue:

ruby: 2.5.5
plugin-ruby: 0.12.3

## Input
[code]

## Current Output
[code]

## Expected output
[code]

[2019-05-22 16:50] kddeisz commented on #55
At the moment there aren't any known rubocop rules that plugin-ruby is violating, so you can just use a base rubocop configuration and everything should work out. If you find a rule that we're intentionally violating please let me know.

[2019-05-27 04:57] flyerhzm commented on #55
I created [rubocop-config-prettier](https://github.com/xinminlabs/rubocop-config-prettier) gem to turn off all rules that are unnecessary or might conflict with prettier plugin ruby.

[2019-05-28 13:10] kddeisz commented on #55
@flyerhzm sorry I'm not sure I understand why you would want to pull in a separate gem, why wouldn't you just open a PR here?

[2019-05-28 14:44] flyerhzm commented on #55
@kddeisz I think it's similar to https://github.com/prettier/eslint-plugin-prettier, which isn't merged in prettier

[2019-05-29 12:44] AluisioASG commented on #63
It seems like this could help with another case:

## Input
[code]

## Current Output
[code]

## Expected output
[code]

Using the expected output as input yields the same result.

[2019-05-31 02:31] github0013 opened #316 "Heredoc as a param formatting"
## Metadata

ruby -v
ruby 2.6.2p47 (2019-03-13 revision 67232) [x86_64-darwin16]

@prettier/plugin-ruby
@prettier/plugin-ruby@0.12.2

vscode
Version 1.34.0 (1.34.0)

Prettier - Code formatter
~/.vscode/extensions/esbenp.prettier-vscode-1.9.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-06-12 17:37] petevk opened #321 "Hash splat - TypeError: Cannot read property 'type' of undefined"
Let me know if this is a duplicate, I tried my best to find it and the similar issues all seem slightly different.

## Metadata

* Ruby version: 2.5.1
* @prettier/plugin-ruby version: 0.12.3

## Input

[code]

## Current output

This crashes for me:
[code]

I've narrowed it down to the `**hash_splat`, removing the splat seems to format correctly. Let me know if there's any other information you ne

[2019-06-13 16:30] cvoege commented on #218
Is there any progress on this?

My editor passes in the cursor-offset option by default. I can disable that, but it means i know longer have the smart cursor movement when I save JS/CSS/etc. files. Would it be possible to implement these methods but effectively make them no-ops so that I can re-enable those settings in the meantime?

[2019-06-13 17:06] kddeisz commented on #218
@cvoege I've been working on it but it's been slow going. Your idea to have them as no-ops is a very good one, and I will do that and release a new version soon.

[2019-06-13 18:42] willisplummer commented on #150
I confirmed that this is no longer an issue for me on the latest version of the gem

[2019-06-13 20:29] cvoege opened #322 "Large block of code is deleted with missing comma"
## Metadata

* Ruby version: 2.5.5
* @prettier/plugin-ruby version: 0.12.3

## Input

[code]

## Current output

[code]

## Expected output

Ideally prettier ruby would give me an error message and not rewrite the file, instead a large swath of code is deleted and the file is saved (with --write on).

I ran into this issue after typing a more complicated version above. As you can see, I made a mis

[2019-06-14 14:52] johnschoeman opened #323 "Ruby threads not ending after running test suite"
## Metadata

* Ruby version: 2.5.1
* @prettier/plugin-ruby version: 0.12.3

## Input

[code]

## Current output

![Screen Shot 2019-06-14 at 10 45 14 AM](https://user-images.githubusercontent.com/16049495/59517419-943df000-8e91-11e9-926b-978600705019.png)

## Expected output

For the specs to tear down any and all spawned threads.

---

When running the test suite with: `yarn run test` many ruby t

[2019-06-14 20:52] johnschoeman commented on #323
@tuskerette and I did some digging into the test setup and identified the source of the issue:

setupTests.js will spawn a process for the test parser:

[code]

the ruby file `./test/js/parser.rb` has two nested loops:
[code]

The inner while loop will break when the stdin equals "---\n", however there are times when gets will never equal "---\n" and hence the process will never terminate.

It's n

[2019-06-21 17:30] cvoege opened #326 "Trailing comma not added in certain hashes"
## Metadata

* Ruby version: 2.5.5
* @prettier/plugin-ruby version: 0.12.3

## Input

[code]

## Current output

[code]

## Expected output

[code]
Here's the `pretterrc.js` I used to get the result above:

[code]

So the issue here is that we have a multi line hash (`file_map`) which is not getting trailing commas. On the line with `__pairs__` there should be a trailing comma, but `prettier` isn'

[2019-07-01 21:19] taylorthurlow commented on #218
If anyone is running into this issue when using Sublime's jsprettier plugin, there's a [configuration option](https://github.com/jonlabelle/SublimeJsPrettier#sublime-text-settings) to disable the cursor offset parameter:

[code]

[2019-07-02 18:17] taylorthurlow opened #332 "Comments moved out of if statement"
## Metadata

* Ruby version: `2.5.5`
* @prettier/plugin-ruby version: `0.12.3`

## Input

[code]

## Current output

[code]

## Expected output

The comments aren't moved up to the top of the definition.

-----

## Other notes
It seems like it's caused by the second if statement. Changing the input to:

[code]

And the output is as-expected.

Even just removing the `else` from that section fixes t

[2019-07-05 15:21] kddeisz commented on #275
While I don't like the formatting on master, this issue is fixed. The formatting will be fixed in a larger comment refactor

[2019-07-05 15:21] #275 closed

[2019-07-05 15:37] #321 closed

[2019-07-05 15:50] #218 closed

[2019-07-05 15:50] kddeisz commented on #218
Okay friends - this functionality is going to go out in the next version `v0.13.0`. Let me know how it goes for you.

[2019-07-07 04:42] jviney opened #339 "to_proc transform adds method name to hash key"
## Metadata

* Ruby version: 2.5.3, 2.6.3
* @prettier/plugin-ruby version: master@240c279c

## Input

[code]

## Current output

[code]

## Expected output

[code]

Here is a failing test case that can be added to blocks.test.js

[code]

I can attempt a fix if someone can point me in the right direction.

[2019-07-07 06:38] jviney opened #340 "Converting conditional to inline version breaks when returning new variable"
## Metadata

* Ruby version: 2.6.3
* @prettier/plugin-ruby version: master@240c279c

## Input

[code]

## Current output

[code]

## Expected output

[code]

The current output gives an error because `bar` is a new variable.

`NameError (undefined local variable or method 'bar' for main:Object)`

If `bar` was defined earlier in the function, then the current transform is ok.

[2019-07-07 08:32] jviney opened #341 "Trailing comment causes hash content to be removed"
## Metadata

* Ruby version: 2.6.3
* @prettier/plugin-ruby version: master@240c279

## Input

[code]

## Current output

[code]

## Expected output

[code]

If the trailing `# comment` is removed, the issue does not appear.

[2019-07-07 08:38] jviney opened #342 "if/else/end.foo outputs incorrect code using the ternary operator"
## Metadata

* Ruby version: 2.6.3
* @prettier/plugin-ruby version: master@240c279

## Input

[code]

## Current output

[code]

## Expected output

Needs to at least preserve the original code's behaviour. Possibly shouldn't convert if/else/end.foo to a ternary.

[code]

[2019-07-07 13:59] tmr111116 opened #343 "Remove comment in block"
## Metadata

* Ruby version: ruby 2.6.3
* @prettier/plugin-ruby version: 0.13.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-07-12 08:57] jamierumbelow commented on #342
Same problem, except I believe the expected output in @jviney's post it wrong, it should look like:

[code]

[2019-07-12 11:05] jviney commented on #342
Yep - fixed up the description. Thanks.

[2019-07-16 14:42] kddeisz commented on #342
Thanks @jviney - that'll go out in the next release

[2019-07-16 14:49] kddeisz commented on #340
Oh boy. This is a good one. Not entirely sure what I want to do here. I think I may have to just make it so that if there's an assignment inside the conditional that we automatically break.

[2019-07-16 14:52] #342 closed

[2019-07-16 23:37] acrewdson opened #347 "Multiple newlines at EOF cause 'undefined method' exception"
## Metadata

* Ruby version: 2.5.3
* @prettier/plugin-ruby version: 0.13.0

## Input

[code]

☝️ note the multiple blank lines at the end of the file. I get this exception:

[code]

Expected behavior would be to drop the multiple blank lines I think.

Thanks for taking a look!

[2019-07-17 08:25] eins78 opened #349 "crash when dynamic constant assignment in method"
## Metadata

* Ruby version: `ruby 2.6.2p47 (2019-03-13 revision 67232) [x86_64-darwin17]`
* @prettier/plugin-ruby version: `"prettier": "^1.18.2", "@prettier/plugin-ruby": "^0.13.0"`

## Input

[code]

## Error

[code]

[2019-07-17 13:13] kddeisz commented on #349
This is on purpose. If you executed that code (`ruby -e "def foo; FOO = 1; end"`) it would throw an error. It's invalid ruby.

[2019-07-17 13:13] #349 closed

[2019-07-17 13:33] kddeisz commented on #347
Thanks @acrewdson - TIL about the ruby `String#lines` method which fixes this.

[2019-07-17 13:49] #347 closed

[2019-07-17 14:12] #340 closed

[2019-07-17 21:45] petevk opened #353 "Comment between hash splats"
## Metadata

* Ruby version: 2.5.1
* @prettier/plugin-ruby version: 0.13.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

Not a _huge_ issue (apparently it's valid syntax) but it is a bit weird.

[2019-07-17 21:58] petevk opened #354 "Functions that take arguments and a block delete the blocks"
## Metadata

* Ruby version: 2.5.1
* @prettier/plugin-ruby version: 0.13.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-07-17 22:19] petevk commented on #354
Err, actually I don't think that's valid syntax. I'll close it...

[2019-07-17 22:19] #354 closed

[2019-07-18 13:46] petevk opened #355 "Function that take arguments and blocks are converted to invalid syntax"
## Metadata

* Ruby version: 2.5.1
* @prettier/plugin-ruby version: 0.13.0

## Input

First off, thanks for the wonderful library! I've been running it on my company's giant Rails codebase and finding some strange bugs (mostly related to comments, I'll get them all documented in an issue if there isn't one already at some point).

I _think_ I nailed down a minimal example. Something about the comb

[2019-07-18 14:07] kddeisz commented on #355
Interesting! I'm not sure why it's doing that. I'll definitely check it out.

In terms of the comment issues, yeah that's the big refactor I've been working on for a while now. It's going to be a bit before they're all fixed up, but I'm aware of (most of?) them.

[2019-07-18 14:57] #307 closed

[2019-07-18 18:21] #322 closed

[2019-07-20 23:07] jakeprime opened #358 "Invalid ruby when returning a ternary converted to if-else"
## Metadata

* Ruby version: 2.5.5
* @prettier/plugin-ruby version: 0.14.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

The format of the `return` line in the code currently generated is a whole statement, and so this generates invalid ruby.

[2019-07-20 23:18] jakeprime commented on #358
I'm not 100% sure if you'd really want that format in the expected output there, but I think it's the simplest way to make it valid in this case.

Alternatively:
[code]

[2019-07-21 18:38] jakeprime opened #359 "Double quotes remain escaped when converting to single quotes"
## Metadata

* Ruby version: 2.5.5
* @prettier/plugin-ruby version: 0.14.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

The current output has actual `\` characters in the string.

[2019-07-21 19:04] jakeprime opened #360 "Using a block as the condition in a ternary renders different than if-else"
## Metadata

* Ruby version: 2.5.5
* @prettier/plugin-ruby version: 0.14.0

## Input

[code]

## Current output

[code]

☝️ This is fine. However if I run prettier a second time on that output I get the following:

## Current output (2nd pass)

[code]
Note the extra indentation on the first `end`. I'm not sure if this is a bug or not, but I would expect nothing to change on subsequent runs, is tha

[2019-07-31 06:12] krachtstefan opened #364 "while loop formatting can change execution logic"
## Metadata

* Ruby version: 2.6.3
* @prettier/plugin-ruby version: 0.14.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

After formatting, the while loop will behave.

[2019-07-31 13:24] kddeisz commented on #364
Thanks @krachtstefan - that'll go out in the next release.

[2019-07-31 13:30] #364 closed

[2019-08-01 05:12] krachtstefan commented on #364
Wow, that was fast! Thx!

[2019-08-05 13:43] #339 closed

[2019-08-05 14:27] #358 closed

[2019-08-05 14:37] kddeisz commented on #124
This should be fixed on master. If this becomes a problem again feel free to reopen.

[2019-08-05 14:37] #124 closed

[2019-08-05 18:49] #359 closed

[2019-08-06 14:26] kddeisz commented on #360
Thanks for finding these issues and for the kind words @jakeprime. Taking the time to report these with clear reproduction cases really really helps.

[2019-08-06 14:37] #360 closed

[2019-08-06 14:43] kddeisz opened #370 "Comments"
Currently, comment handling is done through the wrong abstraction and needs to be refactored. We currently use the ripper lexer state to determine which comment node to attach to, and then have comments printed out generically in the main printer. This results in massive amounts of weird errors.

For examples, see #100, #128, #149, #150, #175, #176, #177, #238, #274, #294, #332, #341, #343, #353,

[2019-08-06 14:54] kddeisz commented on #370
Below here are all of the failing examples I could find. I pulled them out of the existing issues.

<details>
  <summary>Click to expand</summary>

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]
</details>

[2019-08-06 14:54] kddeisz commented on #108
Closing in favor of #370.

[2019-08-06 14:54] #108 closed

[2019-08-06 14:54] kddeisz commented on #128
Closing in favor of #370.

[2019-08-06 14:54] #128 closed

[2019-08-06 14:54] kddeisz commented on #149
Closing in favor of #370.

[2019-08-06 14:54] #149 closed

[2019-08-06 14:55] kddeisz commented on #150
Closing in favor of #370.

[2019-08-06 14:55] #150 closed

[2019-08-06 14:55] kddeisz commented on #175
Closing in favor of #370.

[2019-08-06 14:55] #175 closed

[2019-08-06 14:55] kddeisz commented on #353
Closing in favor of #370.

[2019-08-06 14:55] #353 closed

[2019-08-06 14:55] kddeisz commented on #343
Closing in favor of #370.

[2019-08-06 14:55] #343 closed

[2019-08-06 14:56] kddeisz commented on #341
Closing in favor of #370.

[2019-08-06 14:56] #341 closed

[2019-08-06 14:56] kddeisz commented on #332
Closing in favor of #370.

[2019-08-06 14:56] #332 closed

[2019-08-06 14:56] kddeisz commented on #294
Closing in favor of #370.

[2019-08-06 14:56] #294 closed

[2019-08-06 14:56] kddeisz commented on #274
Closing in favor of #370.

[2019-08-06 14:56] #274 closed

[2019-08-06 14:56] kddeisz commented on #238
Closing in favor of #370.

[2019-08-06 14:56] #238 closed

[2019-08-06 14:56] kddeisz commented on #176
Closing in favor of #370.

[2019-08-06 14:56] #176 closed

[2019-08-06 14:56] kddeisz commented on #177
Closing in favor of #370.

[2019-08-06 14:56] #177 closed

[2019-08-06 15:01] kddeisz commented on #326
This should be all fixed up on the latest version. Let me know if you still experience problems.

[2019-08-06 15:01] #326 closed

[2019-08-08 16:55] AlecRust opened #371 ".erb format support"
Wondering if there's any plans for this plugin to support `.erb` format?

Prettier already supports `.html` format but if passed `.html.erb` it fails.

[2019-08-08 16:57] kddeisz commented on #371
Yeah absolutely! Still working on how to make that work exactly. Currently there isn't a lot of support for templating languages in general. There's some discussion going on w/r/t prettier as a whole, so I'm following that.

[2019-08-13 09:39] AlanFoster commented on #370
@kddeisz Let me know if there's any work to help with here :+1:

[2019-08-14 05:01] leonid-shevtsov opened #373 "Multiline comment inside a hash gets partially removed"
I know you have https://github.com/prettier/plugin-ruby/issues/370, but I didn't find an example with multiline comments.

This case is from boilerplate generated by `graphql-ruby`: https://github.com/rmosolgo/graphql-ruby/blob/master/lib/generators/graphql/templates/graphql_controller.erb#L6
## Metadata

* Ruby version: 2.6.3
* @prettier/plugin-ruby version: 0.15.0

## Input

[code]

## Current o

[2019-08-14 13:36] kddeisz commented on #373
Thanks @leonid-shevtsov - I'm going to close this one as I've updated the list of broken examples in #370.

[2019-08-14 13:36] #373 closed

[2019-08-17 00:50] github0013 opened #375 "Respect %q to escape single quotes"
## Metadata

- ruby 2.6.2p47 (2019-03-13 revision 67232) [x86_64-darwin16]
- "@prettier/plugin-ruby": "^0.15.0",
- esbenp.prettier-vscode-1.9.0

## Input

[code]
## output

[code]

## expected

[code]

[2019-09-03 20:55] jensljungblad commented on #55
@kddeisz

Prettier seems to be violating the default `Layout/MultilineMethodCallIndentation` cop as far as I can tell..?

[2019-09-03 21:13] kddeisz commented on #55
@jensljungblad I would happily accept a PR for a rubocop config with some documentation if you're up to it.

[2019-09-09 21:56] jamescostian opened #386 "Long return statement with commas gets a syntax error added"
## Metadata

* Ruby version: ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin18]
* @prettier/plugin-ruby version: 0.15.0

## Input

[code]

## Current output

[code]

Running `ruby -c` on the output file provides this:

[code]

## Expected output

[code]

OR

[code]

## About the string

If you remove the long string, but add several more things to the hash, you can also reproduce this err

[2019-09-09 22:02] jamescostian commented on #386
One thing I found interesting about this issue is that prettier doesn't give any error or warning when it messes up the code, but if you run prettier again on the same file (after prettier has created the syntax error), then prettier will throw an error (and `ruby -c` confirms that there is an error).

It would be cool if there was some mode where you could have prettier run on each file twice, an

[2019-09-09 22:25] jamescostian opened #387 "If/else conversion to ternary can produce a syntax error"
## Metadata

* Ruby version: ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin18]
* @prettier/plugin-ruby version: 0.15.0

## Input

[code]

## Current output

[code]

Running `ruby -c` on that file provides this output:

[code]

## Expected output

[code]

Or just leave the if/else/end as-is, or use if/then/else/end on one line if short enough.

[2019-09-09 22:33] jamescostian opened #388 "[Feature Request] Run twice mode to check for prettier bugs"
One thing I found interesting when discovering #387 and #386 is that prettier doesn't give any error or warning when it messes up the code, but if you run prettier again on the same file (after prettier has created the syntax error), then prettier will throw an error (and `ruby -c` confirms that there is an error). Looking through GitHub issues, it seems I'm not the first one to see this behavior.

[2019-09-10 21:01] keyboard-clacker commented on #63
Thanks for `prettier-ruby`, I've been using it for a bit and it's been great! Though this has bothered me a bit as well. Is there any consensus on the expected output? I'd be happy to dig into an implementation if yeah

[2019-09-11 00:07] jamescostian opened #390 ""end" removed from if/end statement with empty block"
## Metadata

* Ruby version: ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin18]
* @prettier/plugin-ruby version: 0.15.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

OR

[code]

Not sure why someone wrote an if statement without any code inside of it, but hey, it's valid ruby.

[2019-09-11 00:13] jamescostian opened #391 "Comment moved, creating a syntax error"
## Metadata

* Ruby version: ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin18]
* @prettier/plugin-ruby version: 0.15.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-09-18 22:45] james-prado commented on #113
Just in case anyone else ends up here, I had to rebuild the `/node_modules` after installing the plugin by running `npm i`

[2019-09-19 11:58] leoc commented on #63
Maybe the style guide is an entry point for such a discussion:

https://github.com/rubocop-hq/ruby-style-guide

Although currently does not say anything about these cases we could start a discussion there too?

I personally like having

[code]

when there are more than one chained method calls that do not fit into one line.

If one chained method call does not fit into one line I like to use the s

[2019-09-19 12:52] joeyjoejoejr opened #394 "Interpolation in HEREDOC Broken"
## Metadata

* Ruby version: 2.6.1
* @prettier/plugin-ruby version: 1.19.2

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-09-23 08:13] gopeter opened #396 "Automatically add "frozen_string_literal""
I really like `prettier` and `plugin-ruby`, especially because it's way faster than Rubocop – but is there a way to add `frozen_string_literal` automatically like Rubocop does?

[2019-09-23 13:25] kddeisz commented on #396
Hi @gopeter - thanks for the question!

Unfortunately, `prettier` operates by a strict contract of not changing the semantic meaning of the program. By adding `# frozen_string_literal: true` to the top of the file, we could end up breaking client code like the following:

[code]

[2019-09-23 13:25] #396 closed

[2019-09-23 13:27] gopeter commented on #396
Ok, thanks for your quick answer! :)

[2019-09-23 22:15] josphat-kariuki opened #397 "Is there a way to configure prettier plugin-ruby to respect private and protected methods indentation in Ruby classes?"
## Metadata

* Ruby version: 2.6.1p33 (2019-01-30 revision 66950) [x86_64-linux]
* @prettier/plugin-ruby version: 1.18.2

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-09-25 07:21] nPaul commented on #371
You may bind types "*.html.erb" as "html"
its works for vim

but erb tags like
<% if condition %>
<%= foo %>
<%= foo %>
<%= foo %>
<% end %>

will formatting to
<% if condition %> <%= foo %> <%= foo %> <%= foo %> <% end %>

[2019-09-25 19:40] kddeisz commented on #397
At the moment this is not an option. It could potentially change in the future if there's enough push-back from the community, but as it stands people generally seem to be fine with it once they get used to it.

[2019-09-25 19:40] #397 closed

[2019-09-26 08:43] eins78 opened #398 "Formatting Inline HTML inserts weird linebreaks"
Note the input and expected output are not the same, the input is indented 2 spaces more/too much.

## Metadata

* Ruby version: `ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-darwin17]`
* @prettier/plugin-ruby version: `@prettier/plugin-ruby@0.15.0`

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-10-04 16:56] cldevs opened #401 "Backticks (i.e. system-level commands) should not be formatted"
Line breaks are interpreted as new commands by the system, so current behavior breaks code that uses backticks.  Can anything in backticks just be left alone?

## Metadata

* Ruby version: 2.6
* @prettier/plugin-ruby version: 0.15.0

## Input

[code]
## Current output

[code]

## Expected output

[code]

[2019-10-04 16:57] kddeisz commented on #401
Ahh interesting. Didn't know that! Yes definitely. I'll take a look this weekend.

[2019-10-04 17:01] cldevs commented on #401
Awesome, thank you!  And thank you very much for the fantastic plugin.  It
has saved me so much time and setting the line length in Prettier to 9999
has worked around this for now ^_^

Cheers,
Paul

*Paul Atkins, CISSP*
Servers and Automation
CL Web Developers, Inc

*Web: *www.cldevs.com  *Email: *patkins@cldevs.com

On Fri, Oct 4, 2019 at 9:57 AM Kevin Deisz <notifications@github.com> wrote:

[2019-10-07 14:06] #390 closed

[2019-10-07 16:42] AlanFoster commented on #394
@joeyjoejoejr I'm not sure which GraphQL client you're using, but I think instead of using ruby's interpolation for your variables - you'll want to reference your variables using GraphQL's syntax:

[code]

And pass your variables in separately to your client:

[code]

[2019-10-07 17:06] cldevs opened #404 "While loop with variable assignment incorrectly converted to one-line"
prettier-ruby places the in-while loop variable assignment after the command requiring the variable, thus throwing an "undefined variable" error

## Metadata

* Ruby version: 2.6
* @prettier/plugin-ruby version: 0.15.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-10-07 17:10] cldevs opened #405 "Strange behavior with comments and returning an object's method"
I'm not sure what's happening here...  My return variable is completely removed and the comment from the line above gets moved down to the line below.  These may be two separate issues this code is coincidentally triggering.

## Metadata

* Ruby version: 2.6
* @prettier/plugin-ruby version: 0.15.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-10-08 16:06] joeyjoejoejr commented on #394
@AlanFoster That's cool, but prettier still shouldn't be formatting heredocs.

[2019-10-11 01:49] tim-smart opened #408 "case..when statement throwing an error"
## Metadata

* Ruby version: 2.5.4
* @prettier/plugin-ruby version: 1.15.0

## Input

[code]

## Error

[code]

[2019-10-11 12:48] mmainz opened #409 "Incorrectly formats multiple assignment"
I found a bug that multiple assignment statements are changed in a way that actually breaks the code. In Ruby I can assign values from an array like `a, b = [1, 2]`. If I don't care about the second value, I can write `a, = [1, 2]`, just setting `a` to `1` and ignoring the rest. However, prettier formats this as `a = [1, 2]` which does something completely different. Another valid way to write thi

[2019-10-14 15:34] AlanFoster commented on #409
Had a quick look, and it seems like we might be able to implement this without any changes to RipperJS to handle this correctly?

I had a quick peek, and the sexp only shows `a`, and not the missing arg:

<details>

[code]

</details>

<details>

[code]

</details>

Thinking aloud - it might be possible to handle this correctly if it's a mlhs node - and there's only one var on the lhs?

If that se

[2019-10-14 15:53] AlanFoster commented on #408
Just to help a bit with triaging; I've confirmed this as broken on ruby-2.5.4

_But_ this works fine for me using ruby-2.6.0, although the comments do get printed incorrectly:

[code]

I'm happy to help with fixing the crash on Ruby-2.5, or we could mark this as eligible for hacktoberfest. The comment handling wouldn't be fixed as part of this work of course

[2019-10-14 21:42] MarcManiez opened #410 "Conversion breaks hash property assignment off of if statements"
## Metadata

* Ruby version: 2.5.5
* @prettier/plugin-ruby version: 0.15.0

## Input

[code]

At a first glance this seems nice, but it results in different behaviors:

[code]

I work in 2.5.5, but also tested in 2.6.5, and it still holds true.

Ruby behaves differently in this scenario depending on whether the assignment is to a variable or a hash property, so this transformation works nicely in

[2019-10-25 14:20] mmainz opened #414 "Breaks hash keys with weird names"
I found this when applying prettier to someone else's code. They use `:[]` as a key in a hash, like `{:[] => 1}`. Prettier attempts to get rid of the hash-rocket but does this incorrectly. It converts `:[]` to `[]:`, but this is a syntax error. The correct output would be `"[]":`. See the code below for a more detailed example.

## Metadata

* Ruby version: 2.6.5
* @prettier/plugin-ruby version: 0

[2019-10-31 20:10] #414 closed

[2019-11-01 13:26] #401 closed

[2019-11-05 15:41] #404 closed

[2019-11-05 21:12] kddeisz commented on #391
Thanks for the report! Going to close this in favor of #370, as it's part of that.

[2019-11-05 21:12] #391 closed

[2019-11-05 21:13] kddeisz commented on #408
Thanks for the report! Going to close this in favor of #370 - I've incorporated the information in here into there. Thanks!

[2019-11-05 21:13] #408 closed

[2019-11-05 21:27] kddeisz commented on #405
Thanks @cldevs - this is part of a larger comment issue we're having, so I've updated the main pinned issue with this content and I'm going to close this in favor of that issue (#370).

[2019-11-05 21:27] #405 closed

[2019-11-05 21:37] #375 closed

[2019-11-05 21:46] kddeisz commented on #388
So I'm working on general better support for this from within the ruby gem, but as of right now, you can use the `--debug-check` option from prettier itself https://prettier.io/docs/en/cli.html#debug-check. That will at least tell you if `ast(input) !== ast(prettier(input))`. Going to close this as it is technically baked in. Going to think about it more for the ruby side of things though.

[2019-11-05 21:46] #388 closed

[2019-11-06 14:24] #387 closed

[2019-11-06 14:26] kddeisz commented on #323
Going to close this issue in favor of moving the discussion to #381

[2019-11-06 14:26] #323 closed

[2019-11-06 15:21] #217 closed

[2019-11-06 15:21] kddeisz commented on #394
Fixed by #425

[2019-11-06 15:21] #394 closed

[2019-11-06 15:21] kddeisz commented on #398
Fixed by #425

[2019-11-06 15:21] #398 closed

[2019-11-06 21:22] #409 closed

[2019-11-06 21:36] kddeisz commented on #371
Okay I dug into this a ton today and here's what I've determined: ERB support is going to be hard.

There are a couple of options, I'm going to lay them out here:

1. Use regex and pray. I'm not entirely kidding. I've messed around with this approach (you can see the work on the erb branch). Basically the idea is to replace ERB tags with valid HTML that HTML expects in each node location. You can

[2019-11-06 21:38] kddeisz commented on #104
This is entirely predicated on #370 as that's going to change the way we do comments, just to link the two.

[2019-11-07 02:18] #386 closed

[2019-11-08 06:58] JounQin opened #428 "Why the options are not consistent with `prettier` core?"
As title.

I tried `singleQuote: false` but failed, and I found it was named as `preferSingleQuotes`, why???

[2019-11-08 14:19] kddeisz commented on #428
Sorry about the confusion!

If they were the same option, you would not be able to have both single quotes in Ruby and double quotes in JavaScript. Also, the JavaScript ones have more options that don't make sense in a Ruby context. So I've had to differentiate them. I've also gone with "prefer" since in some cases you have to use double quotes (for interpolation), so it means something slightly d

[2019-11-08 14:19] #428 closed

[2019-11-08 15:53] kddeisz commented on #371
Just for bookkeeping purposes I'm going to close this issue. I talk a little about it in the wiki https://github.com/prettier/plugin-ruby/wiki#do-you-support-erb-files-htmlerb-jserb-etc, and I'm talking to prettier core members about it. Hopefully we'll have something to look at in the future.

[2019-11-08 15:53] #371 closed

[2019-11-08 16:40] JounQin commented on #428
@kddeisz No, `prettier` supports `overrides` option so different configurations for different files are definitely possible and should not use different option name.

[2019-11-08 16:42] JounQin commented on #428
@kddeisz https://prettier.io/docs/en/configuration.html#configuration-overrides

Official documentation.

[2019-11-08 16:44] JounQin commented on #428
And also, the default option value should not be different with `prettier` itself IMO.

[2019-11-08 18:23] kddeisz commented on #428
Okay a couple of things to respond to here. Yes, prettier supports overrides, but that means that for people to configure the ruby plugin, they'd have to override every type of ruby file in their config instead of just changing one option. Not a very good user experience there.

Second of all, some of the options don't even make sense for ruby. For example, prettier has a trailing commas option, w

[2019-11-08 23:41] JounQin commented on #428
[code]

Is that really complicated? And if all plugins add a new option instead of extending core's, why `overrides` option is even provided?

Now that `plugin-ruby` has been an official prettier plugin, it should lead the community to use `overrides` instead of opposing. It's very confusing for other prettier plugin authors like me.

Again, `overrides` should be the only solution in this case.

A

[2019-11-10 13:21] JounQin commented on #428
@kddeisz Any further discussion?

[2019-11-10 13:25] JounQin opened #431 "Should `prettier` be `peer` dependence instead of `dependencies` directly?"
As title.

[2019-11-11 13:01] kddeisz commented on #431
I'd prefer to not do that. It would mean that in projects where people choose to install through npm and they don't have other dependencies it would break for unclear reasons. I'd prefer to provide it by default for that reason. I'd be fine relaxing the dependency restriction on it though, it does look a little tight.

[2019-11-11 13:01] #431 closed

[2019-11-12 01:50] kddeisz commented on #428
Thanks for the input @JounQin. I'll keep it in mind going forward. I'm going to stick with the options I've configured for now, but I'll look into what it would mean to go entirely with the overrides option.

[2019-11-15 13:19] ALandscheidt opened #434 "TypeError: Cannot read property 'type' of null when return []"
## Metadata

* Ruby version: 2.6.5
* @prettier/plugin-ruby version: 0.16.0

## Input

When I check my code, prettier throws an error with the following stacktrace:

[code]

[code]

[2019-11-16 04:29] sunny-mittal commented on #113
@james-prado you're a lifesaver! Been banging my head trying to get this to work cause my team kept having whitespace changes. Much appreciated!

[2019-11-19 15:58] iamsolankiamit opened #438 "require with comments breaks"
## Metadata

* Ruby version: ruby 2.6.0p0
* @prettier/plugin-ruby version: rbprettier@1.19.1

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-11-20 23:35] matt-wratt commented on #434
I run into this issue also and dug a little deeper.

The following comment starts to shed light on the issue

[src/nodes/return.js](https://github.com/prettier/plugin-ruby/blob/master/src/nodes/return.js#L20-L22)

Stripping parans from a returned array is fine when there are multiple values, the method will still return an array `return [a, b] == return a, b`.  Unfortunately for an array containin

[2019-11-21 02:22] #434 closed

[2019-11-29 13:04] Fruetel opened #443 "Escaped slashes in double quotes get broken"
## Metadata

* Ruby version: 2.6.5
* @prettier/plugin-ruby version: 0.16.0

## Input
[code]

Behavior of above code changes after running prettier:

[code]

[2019-12-03 21:09] kddeisz commented on #438
Thanks @iamsolankiamit! This is already being tracked by #370 so I'm going to close this one in favor of that one.

[2019-12-03 21:09] #438 closed

[2019-12-05 17:24] jrdioko opened #445 "Incorrect indentation when using not_to with rspec"
It looks like #263 fixed the indentation of rspec code with `to`, but it still does strange things with the indentation of the negative `not_to`.

## Metadata

* Ruby version: 2.6.5
* @prettier/plugin-ruby version: 0.12.3

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2019-12-05 17:25] jrdioko commented on #63
Not sure if #445 falls under this issue as well or not.

[2019-12-05 17:26] jrdioko commented on #445
I see #63 may be related to this.

[2019-12-06 15:04] #445 closed

[2019-12-11 00:24] KelseyDH opened #449 "How to disable automatic one line blocks? eg: `&:foo`"
Could it be possible to create an option for prettier to leave `do end` blocs left intact rather than condense them into`&`?

I don't like when prettier changes my code this way, as I believe it confuses juniors learning Ruby.   Either way, this option should be configurable.

## Metadata

* Ruby version: 2.6.2
* @prettier/plugin-ruby version: 0.16.0

## Input
[code]

## Current output

[code]

##

[2019-12-11 16:11] kddeisz commented on #449
A couple of things on this:

- We don't currently support this option because it's recommended by the https://github.com/rubocop-hq/ruby-style-guide to replace these nodes.
- In the future once I refactor the comments a bit, you'll be able to add a `# prettier-ignore` to the line and that will skip formatting.
- In this circumstance I kind of see what you mean but in the case of something like `[1

[2019-12-11 16:11] #449 closed

[2019-12-11 16:13] kddeisz commented on #443
Hey @Fruetel - just so you don't think I'm ignoring you. This is definitely an issue and I'll work on a fix as soon as I get some time! Thanks for reporting.

[2019-12-12 09:51] gin0606 opened #450 "SyntaxError: Unexpected end of JSON input"
## Metadata

* ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-darwin18]
* @prettier/plugin-ruby version: 0.16.0

## Input

https://gist.github.com/gin0606/47d59f2c26c7e1d44ca39977bf25fdf3

↑This is sample code for produce this error.
My production file have 1280 lines that is test code.

[2019-12-12 14:45] #450 closed

[2019-12-20 19:32] bbugh commented on #371
@kddeisz that link is dead (the wiki seems to be inaccessible or gone). Did you post it anywhere else?

[2019-12-21 16:37] hafley66 opened #454 "Single line while <expr>; end breaking"
## Metadata

* Ruby version:
`ruby --version`
`ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-darwin18]`
* @prettier/plugin-ruby
`npm -g ls --depth=0 | grep plugin-ruby`
`@prettier/plugin-ruby@0.16.0`

## Input
[code]

## Current output

[code]

## Expected output

[code]

[2019-12-21 16:42] hafley66 commented on #454
Tested out a few more things:
input:
[code]

output:
[code]

These are fine though:
[code]
without any transform at all.

Since there are parser errors in converting normal while to inline while
(See)[https://stackoverflow.com/questions/32857497/ruby-inline-while-vs-while-end],
would it be possible to disable inline-whiling in this plugin? It may require way too many smarts to do safely

[2019-12-21 16:48] hafley66 commented on #454
Huzzah, i believe updating to 0.17 and reloading vscode fixed this bug. I may look into test cases to see if this is covered. Thank you for your hard work! I will close as fixed

[2019-12-21 17:18] hafley66 commented on #454
Nvm, vscode-prettier was having problems. I reinstalled 0.17 and rebuilt the package, so its not doing normal formatting.

However, my above errors are still happening.

When I disable inlineLoops it doesn't happen anymore. But since that feature is breaking for this case, would it be possible to make it not the default?

[2019-12-22 14:46] vvo commented on #371
@bbugh it's here: https://github.com/prettier/plugin-ruby/blob/master/CONTRIBUTING.md#do-you-support-erb-files-htmlerb-jserb-etc I think it was a mistake :0

[2019-12-31 15:51] kddeisz opened #457 "Ruby 2.7 support"
* nokw_param
* args_forward

[2020-01-03 20:22] #457 closed

[2020-01-16 09:38] johannesluedke commented on #370
@kddeisz It would be really nice to have a solution for this soon - the current handling of comments is quite annoying. Maybe one could add an option to disable messing with comments for now?

[2020-01-16 13:57] kddeisz commented on #370
@johannesluedke sorry it's annoying. I'm working on this on the weekends whenever I get the chance. I'd be happy to look at a PR with that option - that'd be a great addition!

[2020-01-16 15:06] johannesluedke commented on #370
@kddeisz Hi -- Sorry about the tone from the last comment.

Thank you a lot for contributing for working on rbprettier plugin -- apart from that issue it's really nice to work with it!

As for a PR: I am not sure if I can do that - can you point me to documentation of how to add an option? Is there maybe an older PR that added an option?

[2020-02-02 06:46] tobyndockerill opened #464 "Underscore number formatting with 4-digit numbers"
## Metadata

* Ruby version: `ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-darwin18]`
* @prettier/plugin-ruby version: `0.16.0`

## Input

[code]

## Current output

[code]

## Expected output

[code]

The current output looks a little strange to me.

If people agree I'll throw together a PR that increases the minimum number of digits that this formatting would apply to. Personally, I think t

[2020-02-03 18:34] ftes opened #466 "Haml: Removes last `.` dot between class names"
## Metadata
* Ruby version: ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux]
* @prettier/plugin-ruby version: 0.17.0

## Input
[code]

## Output
[code]

[2020-02-03 18:37] ftes opened #467 "Haml: Changes indentation of `- else`"
## Metadata
* Ruby version: ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux]
* @prettier/plugin-ruby version: 0.17.0

## Input
[code]

## Output
[code]

[2020-02-04 14:53] kddeisz commented on #467
Thanks @ftes! I'll release that in the next release

[2020-02-04 14:53] kddeisz commented on #466
Thanks @ftes! This will go out in the next release

[2020-02-04 14:55] #466 closed

[2020-02-04 14:55] #467 closed

[2020-02-04 14:55] kddeisz commented on #464
Yeah I'm fine with this. Go ahead and submit a PR.

[2020-02-06 23:08] #464 closed

[2020-02-07 08:50] masqita opened #470 "Inline variable assigment within an enumerator"
## Metadata

* Ruby version: 2.6.5
* @prettier/plugin-ruby version: 0.17

## Input

[code]

## Current output

[code]

## Expected output

[code]

or

[code]

In the end, any valid output would do. I do find the original formatting the easiest to grasp. Looks very similar to the already closed issue #340

[2020-02-13 17:49] jpickwell commented on #428
@JounQin, there's more than just `.rb` files to consider for the override. If you look at Rubocop's default configuration, you'll see an `Include` option with a long list of file extensions/names:
[code]

[2020-02-13 21:17] pje opened #472 "Extra indentation when using inline access modifiers on class methods"
## Metadata

* Ruby version: 2.7.0
* @prettier/plugin-ruby version: v0.17.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2020-02-13 21:18] pje commented on #472
This is like https://github.com/prettier/plugin-ruby/issues/214 but only for class method definitions.

[2020-02-13 21:26] pje commented on #472
Same problem happens when using `module_function def self.bar`

[2020-02-16 00:23] gregoryjjb opened #473 "&:thing shorthand is breaking things where { |x| x.thing } works"
## Metadata

* Ruby version:
  `ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux]`
* @prettier/plugin-ruby version:
  `@prettier/plugin-ruby@0.17.0`

## Input

[code]

## Current output

[code]

## Expected output

I don't know why but the current output is causing `.save` on the model to throw `ArgumentError (no receiver given)`. Reverting the changed line to either of the "current" styles

[2020-02-17 02:31] kddeisz commented on #473
This one was really interesting! It's actually kind of a bug in Rails (I just opened a PR for it here: https://github.com/rails/rails/pull/38474). In the meantime, I'll probably need to special-case this to make sure it doesn't perform the transformation.

[2020-02-17 03:20] TomerAberbach commented on #370
I'm not sure if this issue addresses this so I thought I'd bring it up. The plugin is also not idempotent.

For example, given the following input:
[code]

We get the following output:
[code]

However, if we run the output through prettier again we get a different output:
[code]

I think invoking the plugin on its own output should yield its own output.

[2020-02-17 04:18] Tomy0498 opened #474 "Formateo de codigt"
## Metadata

* Ruby version: ...
* @prettier/plugin-ruby version: ...

## Input

[code]

[2020-02-17 15:04] kddeisz commented on #474
I'm not sure what's in this issue. Please reopen if you have more details.

[2020-02-17 15:04] #474 closed

[2020-02-17 18:16] gregoryjjb commented on #473
Very good find, thank you!

[2020-02-18 21:56] kddeisz commented on #473
Yikes okay. This can be traced all of the way back to Ruby handling arity differently for Symbol#to_proc. Technically this changes it from passing a block to `Proc.new` to passing a proc to `Proc.new`, and those have different arity.

In your specific case, I would recommend changing it to `if: :errors` anyway, just as a heads up.

I'm going to have to think about whether or not I need to drastica

[2020-02-19 15:56] KenneyE opened #477 "Comment in Method Call Causes Deletion of Parameters"
## Metadata

* Ruby version: 2.5.3
* @prettier/plugin-ruby version: 0.17.0

## Input

[code]

## Current output

Each run of prettier produces something new until all arguments are removed.

First run:
[code]

Second run:
[code]

Third run:
[code]

## Expected output

It should have stopped at the results produced by the first run of Prettier.

If I remove the comment in the middle of the argument

[2020-02-21 08:10] gregoryjjb commented on #473
Thanks for the help, `if: :errors` works fine indeed.

[2020-02-25 01:19] hudon commented on #477
Can confirm:

[code]

[2020-03-01 01:49] i-tsvetkov opened #480 "Add configuration option to preserve the existing style of quotes"
Hi, I think that having a way to format a messy ruby codebase is great, but I think that the changes to the quote style in large codebases are stopping a lot of people from adopting the gem.

The changes to the quote style can create very large diffs that can't be reviewed effectively in a timely manner.

I also think that the quote style as a formatting option is far from what most people are sea

[2020-03-02 16:54] gencer opened #481 "Prettier messed up code which is covered by percent literals `%{...}`"
## Metadata

* Ruby version: 2.6.5
* @prettier/plugin-ruby version: 1.19.1

## Input

[code]

## Current output

[code]

## Expected output

[code]

Can't we ignore this block from prettier? Or, maybe leave `%{...}` intact and don't change it?

[2020-03-05 06:02] flyerhzm opened #482 "Do not transform string array and symbol array"
I don't think it should transform `['foo']` to `%w[foo]` or transform `[:foo]` to `%i[foo]`, it is lint tool's responsible to convert different syntax, like `rubocop`, what do you think?

[2020-03-06 06:03] flyerhzm opened #484 "do not transform to ternary condition"
I checked prettier itself, it won't transform the following code to ternary condition

[code]

it's not what format tool should do, ruby plugin should not do the transformation, if you want, I can make the PR to remove it.

[2020-03-10 17:49] #472 closed

[2020-03-10 17:59] kddeisz commented on #482
We're pretty far from that at the moment, since we transform single-line conditionals and loops into the inline form, change quotes based on settings, transform string and symbol arrays, transform aliases into using bare words. Generally we're trying to make a tool that is going to enforce the ruby style guide, so I'd rather not leave the responsibility up to some other tool and force people to ha

[2020-03-10 17:59] #482 closed

[2020-03-10 18:02] #470 closed

[2020-03-10 18:17] kddeisz commented on #454
Okay so there are a couple of issues in here. The first, that a while loop with an empty body will not print correctly, is fixed by #492. The second, that comments throw everything off, is going to be fixed later, and is encompassed by another issue.

[2020-03-10 18:19] kddeisz commented on #473
I'm going to optimistically close this issue and hope that since it's so rare that someone would be checking arity that this won't come up again. If it does, we'll have to change the way to-proc transforms happen.

[2020-03-10 18:19] #473 closed

[2020-03-10 18:45] #454 closed

[2020-03-10 19:03] kddeisz commented on #484
Here as well I'm trying to match the ruby style guide, which suggests single line transforms for ternaries, so going to keep it in. If you have a specific ternary that looks bad feel free to open a new issue.

[2020-03-10 19:03] #484 closed

[2020-03-10 22:18] #481 closed

[2020-03-10 22:19] kddeisz commented on #481
Yeah good point. I cleaned up a good amount of the top part, but I'm really not entirely sure what to do with the interpolated parts. Once we have better support for `prettier-ignore` I think this would be a perfect candidate for it.

[2020-03-12 17:33] BrittaniePham commented on #473
Well, it is not as rare as initially thought but it came up again.

[2020-03-12 17:48] BrittaniePham commented on #473
there is a workaround if anyone else happens to run into this issue
`after_validation :log_errors, if: Proc.new {|m| m.errors}` becomes
`after_validation :log_errors, if: Proc.new {|m| m.errors.present?}`
since there is another piece in the block, prettier won't change it to the shorthand version

[2020-03-14 13:56] flyerhzm opened #497 "comment are moved after if"
## Metadata

* Ruby version: 2.6.4
* @prettier/plugin-ruby version: 0.17.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2020-03-17 14:25] kddeisz commented on #443
Thanks for the report @Fruetel! This was fixed by #499. I'll be releasing it soon.

[2020-03-17 14:25] #443 closed

[2020-03-17 16:02] kddeisz opened #503 "Rename options"
The existing options are confusing to people because a lot of the time they think they're JS options or that we should be respecting the `quotes` options or something. They need to be prefixed. I'm proposing prefixing them with `ruby` to make it super clear and obvious (I did this with the XML plugin and it worked out nicely). Furthermore, we're should change some of them to take string options so

[2020-03-17 16:32] #503 closed

[2020-03-17 17:00] kddeisz commented on #480
I can definitely appreciate the intent behind this of making migration easier, but it seems like this goes against prettier and this plugin's philosophy. Supporting this means opening the door to supporting maintaining current hash keys, maintaining loop and conditional forms, maintaining parens, etc. Just don't want to end up supporting a million options.

[2020-03-17 17:00] #480 closed

[2020-03-17 17:13] #355 closed

[2020-03-19 15:03] mmainz opened #507 "Invalid syntax when using heredocs with method calls"
Sadly, when using heredocs with method calls, prettier produces incorrect syntax.

## Metadata

* Ruby version: 2.7.0
* @prettier/plugin-ruby version: 0.18.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2020-03-30 18:23] ftes opened #518 "haml: div with attributes incorrectly formatted"
## Metadata

* Ruby version: 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux]
* @prettier/plugin-ruby version: 0.18.0

## Input

[code]

## Current output

[code]

This leads to the error: `Illegal nesting: nesting within plain text is illegal.`

## Expected output

[code]

[2020-03-30 18:35] ftes opened #519 "haml: Text at end of long line is indented with too many spaces"
## Metadata

* Ruby version: 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux]
* @prettier/plugin-ruby version: 0.18.0

## Input

[code]

## Current output

[code]
One space too many before the text character `-`. (Same happens with a `+` as character).

Gives error: `Inconsistent indentation: 3 spaces used for indentation, but the rest of the document was indented using 2 spaces.`

## Expected

[2020-03-30 18:41] ftes opened #520 "haml: No prettier-ignore escape hatch"
## Metadata

* Ruby version: 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux]
* @prettier/plugin-ruby version: 0.18.0

https://prettier.io/docs/en/ignore.html

## Input

[code]

## Current output

[code]

Two issues:
1. Not ignored
2. leading space (see #519)

## Expected output

[code]

[2020-03-30 20:17] ftes opened #521 "travis-ci: json standard gem version issue"
## Metadata

* Ruby version: 2.5.7
* @prettier/plugin-ruby version: 0.18.0

## Console log

[code]

## Solution (rough idea)
https://medium.com/@schmijos/default-gems-hinder-bundler-963bef29d122

So maybe replace [this line](https://github.com/prettier/plugin-ruby/blob/master/src/haml/parse.js#L5)
[code]

with
[code]

Doing so worked fine for me locally. I guess you would have to check if a bundle

[2020-03-30 20:18] ftes commented on #520
Sorry, just saw #104

[2020-03-30 20:18] #520 closed

[2020-04-02 19:11] UnderpantsGnome commented on #301
* Ruby 2.6.5
* prettier-ruby 0.18.0
* prettier 1.19.1

Before
[code]
After
[code]
Expected
[code]

[2020-04-02 19:22] UnderpantsGnome opened #526 "Formatting options"
Would it be possible to have an option for which formatting style you preferred from the style guide?

The current output is for the first one, guessing some of us would prefer the second.

https://rubystyle.guide/#no-double-indent

[code]

[2020-04-02 21:34] kddeisz commented on #526
Not going to add an option for this because the goal of this is to eliminate these kinds of options, but I do agree the second one is better. I'd like to just make that the default.

[2020-04-03 15:36] #526 closed

[2020-04-04 23:14] github0013 opened #528 "avoid void value expression"
## Metadata

ruby 2.6.5p114 (2019-10-01 revision 67812) [x86_64-linux]
@prettier/plugin-ruby@0.18.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

if `return a or b if c?`, then ruby gives a syntax error of "void value expression".
I can avoid this by `return a || b if c?`, but in some cases `||` will not be preferred.

[2020-04-05 13:35] kddeisz commented on #528
Oo good one. I'll take a look.

[2020-04-05 14:31] kddeisz commented on #497
Thanks! This is part of the problem that's going to be addressed by the `better-comments` branch which is tracked in #370, so I'm going to close this in favor of that.

[2020-04-05 14:31] #497 closed

[2020-04-05 14:36] kddeisz commented on #518
Fixed by #529

[2020-04-05 14:36] #518 closed

[2020-04-05 14:59] kddeisz commented on #477
Yup, these are all bad. They'll be covered by the `better-comments` branch when we eventually merge it. At the moment these are being tracked in #370. I'm going to close this in favor of that ticket.

[2020-04-05 14:59] #477 closed

[2020-04-05 15:00] #519 closed

[2020-04-05 15:00] #521 closed

[2020-04-05 15:24] kddeisz commented on #316
It is now mildly better at

[code]

but not there yet

[2020-04-05 15:31] #507 closed

[2020-04-05 15:47] #528 closed

[2020-04-07 00:06] kddeisz commented on #370
Okay. Starting to make some real progress on this on the `better-comments` branch. I'm going to start tracking which nodes I've cleared and manually tested.

- [ ] `BEGIN`
- [ ] `END`
- [ ] `alias`
- [ ] `alias_error`
- [ ] `aref`
- [ ] `aref_field`
- [ ] `arg_ambiguous`
- [ ] `arg_paren`
- [ ] `args_add`
- [ ] `args_add_block`
- [ ] `args_add_star`
- [ ] `args_forward`
- [ ] `args_new`
- [ ] `arr

[2020-04-09 16:28] klondikemarlen opened #536 "Support for Rubocop's Style/BlockDelimiters: Prefer `{...}` over `do...end` for multi-line chained blocks."
## Feature Request

This is a feature request to support a specific Rubocop option.
i.e.
- Style/BlockDelimiters: Prefer `{...}` over `do...end` for multi-line chained blocks.
See: https://www.rubocop.org/en/stable/cops_style/#styleblockdelimiters
![image](https://user-images.githubusercontent.com/23045206/78917758-2ed07680-7a44-11ea-97d0-4bbb0d03f885.png)

## Metadata

* Ruby version: ruby 2.6.4p

[2020-04-09 16:36] kddeisz commented on #536
Hi @klondikemarlen!

The goal of this specific project is to enforce only one set of options, so for this we're going with the default rubocop option to be as consistent as possible (`line_count_based`). At this point we're really not going to be adding any additional options to the project at all honestly.

[2020-04-09 16:36] #536 closed

[2020-04-10 01:30] klondikemarlen commented on #536
:cry: I guess I'll have to talk to the prettierx people (or actually write the code myself :stuck_out_tongue:).

[2020-04-11 07:30] ftes commented on #521
Again, thanks for your fast response time.

[2020-04-23 12:32] ShayDavidson opened #543 "assignment in if condition leads to wrong ternary and potential crash"
## Metadata

* Ruby version: 2.3.8
* @prettier/plugin-ruby version: 0.17.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

In the current formatting, it assigns the trenary result to the `result` variable, which makes `result.something` crash.

[2020-04-28 04:43] janklimo opened #545 "Trailing commas in hash arguments"
## Metadata

* Ruby version: 2.7.1
* @prettier/plugin-ruby version: 0.18.1

## Input

[code]

## Current output

[code]

## Expected output

[code]

Formatting works correctly when brackets are used around arguments:

[code]

[2020-04-28 22:47] kddeisz commented on #104
I'm going to close this as it's now entirely subsumed by #370

[2020-04-28 22:47] #104 closed

[2020-04-28 22:48] #543 closed

[2020-04-29 05:06] janklimo opened #549 "Empty rescue clauses"
## Metadata

* Ruby version: 2.7.1
* @prettier/plugin-ruby version: 0.18.1

## Input

[code]

## Current output

[code]

## Expected output

[code]

My apologies if this is by design. It does appear that the empty line is redundant and contradicts some rubocop rules such as `Layout/EmptyLinesAroundExceptionHandlingKeywords` and `Layout/EmptyLinesAroundMethodBody`.

[2020-04-29 05:17] janklimo commented on #549
This and #545 might be good first issues so I'm happy to take a shot at a PR @kddeisz.

[2020-04-29 11:58] kddeisz commented on #549
Yeah this is legit and definitely something to be fixed. Feel free to take a shot at a PR, I'd love the help! Check out the CONTRIBUTING doc for some initial guidance.

[2020-04-29 19:19] ftes opened #551 "haml: escaped minus \- changed to minus"
## Metadata
* Ruby version: 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux]
* @prettier/plugin-ruby version: 0.18.0

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2020-04-30 11:06] 5ay3h commented on #543
@kddeisz appreciate the fix 🙏

Any ETA for a new version containing it? If not, is current master's HEAD should be safe/stable?

[2020-04-30 23:56] kddeisz commented on #543
No worries! I can push out a new version tomorrow.

On Thu, Apr 30, 2020 at 7:06 AM Sayeh <notifications@github.com> wrote:

--
*Kevin D. Deisz*
Principal Engineer
Panorama Education <https://www.panoramaed.com/>

[2020-05-01 12:12] #549 closed

[2020-05-01 12:17] kddeisz commented on #543
New version is out! 0.18.2

[2020-05-05 16:11] dandezille opened #558 "SimpleForm initializer long hash arguments with block"
## Metadata

* Ruby version: 2.7.1p83
* @prettier/plugin-ruby version: 0.18.2

## Input

[code]

## Current output

[code]

## Expected output

[code]

The problematic input is from the default SimpleForm initializer file. The issue appears to be related to the comment above the long line and/or the fact it is indented inside a block as if I remove either of these it does something sensible. The l

[2020-05-15 23:17] coiti opened #562 "if/unless expression turns into modifier where not expected (syntax error)"
Whenever there's an `if` or `unless` expression without an `elsif` or `else` counterpart, the formatter will try to convert it into the modifier form as long as it fits on the line, even if it results in a syntax error.

Example:

[code]

This becomes:

[code]

This results in a syntax error, as the `if`-modifier cannot be used in hash values directly. Instead, it should either be kept as an expre

[2020-05-19 10:20] github0013 opened #563 "not() gets parentheses removed"
## Metadata

ruby 2.7.1p83 (2020-03-31 revision a0c7c23c9c) [x86_64-linux-musl]
"prettier": "^2.0.5"

## Input

[code]

## Current output

[code]

## Expected output

I think the `not(..)` should keep the parentheses.

[code]

[2020-05-20 04:48] jluxenberg opened #564 ""while" block incorrectly transformed into a single comment"
## Metadata

* Ruby version: ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-darwin18]
* @prettier/plugin-ruby version: 0.18.2 + prettier 2.0.5

## Input

[code]

## Output

[code]

[2020-05-20 04:52] jluxenberg opened #565 "extra newlines and whitespace inserted"
## Metadata

* Ruby version: ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-darwin18]
* @prettier/plugin-ruby version: 0.18.2 / 2.0.5

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2020-05-20 04:52] jluxenberg commented on #564
This one is really critical because it changes the meaning of the input program!

[2020-05-20 04:58] jluxenberg commented on #564
Maybe a duplicate of #370

[2020-05-23 09:26] aesyondu opened #568 "[QUESTION] How to enable haml support in vscode?"
## Metadata

* Ruby version: 2.3.1
* @prettier/plugin-ruby version: ^0.18.2

## Input
Hi, I would like to try this out, how do I use it in vscode?

I followed the install guide here:
https://github.com/prettier/plugin-ruby/issues/113#issuecomment-532895439

Then tried it on a `test.my.haml` file:
[code]

With the following output:
[code]

[2020-05-29 01:19] andrewlook opened #571 "all method arguments deleted due to comment in multi-line method call after trailing comma"
## Metadata

* Ruby version: `ruby 2.6.4p104`
* @prettier/plugin-ruby version: `0.18.2`

## Input

[code]

## Current output

[code]

## Expected output

[code]

[2020-06-05 13:49] bvsatyaram commented on #551
I have the same issue with period:

### Input:
[code]

### Current output:
[code]

### Expected output:
[code]

[2020-06-19 02:50] steobrien opened #575 "`lstrip` heredoc repeatedly indented"
## Metadata
[code]

## Input

[code]

## Current output

[code]

## Expected output

[code]
---

The real problem here is that the indentation repeatedly happens for each run of prettier. Here's what it looks like after 10 runs:
[code]

[2020-06-19 02:57] steobrien opened #576 "Crash for a simple `case`/`when` with comment"
## Metadata

[code]

## Input

[code]

## Exception

[code]

[2020-06-19 03:03] steobrien opened #577 "Crash for a simple array structure with comments"
## Metadata

[code]

## Input

[code]

## Exception

[code]

[2020-06-24 16:50] earksiinni commented on #449
This rule caused some validation code on a Rails model that I was using to fail.

The following code:

[code]

became:

[code]

Unfortunately, changing the proc in this way changes its arity, and [ActiveSupport checks for arity when you pass a proc as a callback filter](https://github.com/rails/rails/blob/5-2-stable/activesupport/lib/active_support/callbacks.rb#L453-L460). The change caused our te

[2020-06-24 16:52] earksiinni commented on #449
The use of proc in my particular example is questionable at best. Really, the filter should be constructed as

[code]

But in general, I don't agree with a formatter transforming the AST so deeply. I do sympathize; the task of writing a Ruby formatter is especially hard because of how much metaprogramming is in the language.

[2020-06-26 09:59] hidroo opened #583 "Sublime Text integration"
Hello, I am using Js Prettier for on save js prettifying and it works like a charm!

I was looking forward to use rbprettier in the same way, but I could not find a solution that enabled me to do so.

Are you looking forward to implement such a solution for rbprettier?

Best wishes,
Michael.

[2020-06-26 13:41] kddeisz commented on #583
@hidroo are you using the gem or the npm package? Out of the box it should be working with the npm package.

[2020-06-27 00:16] mehagar opened #584 "What Ruby versions are supported?"
I tried converting a large codebase on Ruby 2.1.10 recently, and got a non-trivial number of syntax errors. Is this version of Ruby supported? If so I will report all of the issues I found.

[2020-06-29 09:04] ayrton opened #586 "Invalid syntax errors with heredocs and other long named arguments"
## Metadata

* Ruby version: ruby 2.5.0p0 (2017-12-25 revision 61468) [x86_64-darwin19]
* @prettier/plugin-ruby version: ...

[code]

## Input

[code]

## Current output

[code]

[code]

## Expected output

Expected that there's no syntax error eg:

[code]

[2020-06-29 13:05] kddeisz commented on #584
Hi @mehagar - it's `2.5` and above, listed here: https://github.com/prettier/plugin-ruby#getting-started. The source that you're running can actually be anything < 2.7+ syntax, but the Ruby that you're running `rbprettier` with has to be 2.5 and above.

[2020-06-29 13:05] #584 closed

[2020-07-02 18:28] hidroo commented on #583
I am using the gem. Which npm package should I use? And with what does it work out of the box?

[code]

[2020-07-02 19:22] kddeisz commented on #583
You should be using @prettier/plugin-ruby. It works with whatever prettier
works with, so vscode, sublime, textmate, atom, vim, etc.

On Thu, Jul 2, 2020 at 2:29 PM Mihail Kirilov <notifications@github.com>
wrote:

--
*Kevin D. Deisz*
Staff Production Engineer
Shopify <https://www.shopify.com/>

[2020-07-03 09:45] hidroo commented on #583
I have something installed called JSPrettier, which uses prettier, but with the config for js. Which means that it tries to use babel for .rb files and that does not work.

[2020-07-03 13:33] kddeisz commented on #449
v0.19.0 was just released with the `toProcTransform` option which you can use to turn off these kinds of transformations. Additionally, there's new functionality to check if the transform is within a hash whose key is `:if` or `:unless`, so it shouldn't happen in the future anyway. Hopefully this helps!

[2020-07-06 03:49] ufo2mstar commented on #575
Not just with `.lstrip` it is doing the same for any heredoc string method!,
I am facing the same with `strip_heredoc` and any other method used with heredocs!! (tested a few others too)

[code]

Clearly an issue to tackle in the next release

[2020-07-07 13:22] Elshir opened #589 "Couldn't resolve parser "ruby""
I've install prettier gem and prettier+ on VSCode, when I try to format my code it says:
`Couldn't resolve parser "ruby"`,
but I can format codes by typing `$rbprettier --write '1.rb'` to successfully format code.
Can I also use format on save like it does in python? Or is this a BUG?

[2020-07-07 22:02] kddeisz commented on #589
I don't think VSCode knows how to use the gem unfortunately. You'll probably want to check their instructions for how to install plugins and try it with the npm package instead by installing `@prettier/plugin-ruby`.

[2020-07-07 22:02] #589 closed

[2020-07-08 01:30] Elshir commented on #589
I did install npm package`@prettier/plugin-ruby`, but still got the same error.

[2020-07-09 02:55] Rsullivan00 opened #590 "Ternary -> multiline conditional can cause syntax errors when used with method calls"
## Metadata

* Ruby version: 2.6.5
* @prettier/plugin-ruby version: master

## Input

[code]

## Current result
[code]

This is interpreted as if we wanted to `foo` run if `bar` is truthy, then `loooooooooooooooooooooooooooooong1` evaluates, and then `else` causes a syntax error.

## Notes

This is very similar to https://github.com/prettier/plugin-ruby/pull/367, which fixed multiline conditionals

[2020-07-10 11:56] PascalPixel opened #591 "Scope lost"
We are very excited for prettier-ruby to soon be able to mindlessly and quickly format our ruby (and haml) code on save, thank you for your hard work.

## Metadata

* Ruby version: 2.6.6
* @prettier/plugin-ruby version: 0.19.0

## Input

[code]

## Current output

[code]

⬆️ `undefined local variable or method `errors'`

## Expected output

Something along the lines of...

[code]

[2020-07-10 17:50] kddeisz commented on #583
Yeah I don't know what that tool is unfortunately. To my knowledge it only works with the `prettier` and `@prettier/plugin-ruby` packages.

[2020-07-19 07:58] github0013 opened #596 "`split': invalid byte sequence in US-ASCII (ArgumentError) on ripper.rb"
## Metadata

[code]

## Input

[code]

[code]

It seems if ran through VSCode, `source.encoding` would be recognized as "US-ASCII."   And I get an error like below.

[code]

When I run `bundle exec rbprettier --write` on the same file, `source.encoding` is "UTF-8", and the format is done correctly.

[2020-07-21 20:34] kddeisz commented on #596
For the life of me I cannot get this thing to replicate. How are you running it through VSCode? Are you clicking "Format Document"? Or is it something else?

[2020-07-22 01:33] github0013 commented on #596
![Screen Shot 2020-07-22 at 10 14 16](https://user-images.githubusercontent.com/809378/88122658-1f94c380-cc04-11ea-93d4-538f32b67d16.png)

Because I didn't point out clearly (my bad), you might have missed the Japanese char in the sample code.

[code]

I recently reinstalled OS and everything, and I just started having this issue.

![Screen_Shot_2020-07-22_at_10_30_32](https://user-images.githubus

[2020-07-23 22:39] jemmyw opened #599 "method call with ternary argument becomes invalid if statement if its too long"
## Metadata

* Ruby version: 2.5.7
* @prettier/plugin-ruby version: 0.19.0

## Input

[code]

## Invalid output

[code]

[2020-07-23 22:41] jemmyw commented on #599
Duplicate of https://github.com/prettier/plugin-ruby/issues/590

[2020-07-27 16:14] Rsullivan00 commented on #590
@jemmyw Try my fix on https://github.com/prettier/plugin-ruby/pull/592, it looks like it will resolve your issue.

[2020-07-31 13:18] #575 closed

[2020-07-31 13:21] kddeisz commented on #575
This will be released in the next version.

[2020-08-11 15:18] abdullaachilov commented on #590
got same error
input:
`redirect_to review_user.business? ? profile_broker_companies_path : my_objects_account_path`
Error output:
[code]
Expected output: (?)
redirect_to( if review_user.business?
  profile_broker_companies_path
else
  my_objects_account_path
end )
[code]

[2020-08-14 07:52] stmichael commented on #596
I'm having the same issue but in a different setup. I don't use any editor integration, just plain command line. My setup:

OS: Debian
Language: JS (NodeJS)
Plugin-Ruby: 0.19.0

Running `yarn prettier -l '**/*.rb'` in my project prints a whole bunch of errors identical to the ones @github0013 mentioned.
[code]
I can't count them all, there's too many.

To track the issue I came up with a minimal e

[2020-08-14 12:58] kddeisz commented on #596
I really have no idea to be honest, and it's not replicating on my machine at all. I've got the exact same version of stuff as y'all do. Can one of you run `ruby -e 'pp RbConfig::CONFIG'` and we'll see if there's some kind of weird configuration different between our rubies?

Also please run `ruby -rripper -e "pp Ripper.sexp('ä')"` and see what the returns. Also maybe put that into a file and run

[2020-08-15 05:09] csalvato commented on #596
I was facing this issue and had a `¢` character in a comment in my code.

I removed the `¢` character and prettier started working agian.

[2020-08-17 00:37] github0013 commented on #596
[code]

[code]

[2020-08-17 08:50] stmichael commented on #596
[code]
I'm running Prettier as well as these commands in a docker container. The base container is `ruby:2.6.3`.

[2020-08-18 14:40] antoinesaliba opened #612 "Disable Number Formatting"
I don't think there's currently a way to disable numbers from getting formatted to include an underscore if the number has 5+ digits.

Example:
Pre-formatting: 75299
After formatting: 75_299

For anyone that deals with currency within their codebase, I think it'd be nice to be able to turn this off. In the example above, 75299 represents $752.99. An amount like this gets converted into an integer

[2020-08-18 23:04] kddeisz commented on #612
If you have any underscores at all in the number it won't get formatted. So you could write `752_99` and it will leave it alone.

[2020-08-19 06:06] stmichael commented on #596
I found out a few more things and possibly a solution. I'll describe how I got there and thus hopefully help @github0013 in finding a solution for his setup.

I printed the encoding of my test string in the terminal with `ruby -e "pp 'ä'.encoding"` and always got `US-ASCII`. When I put the same code `pp 'ä'.encoding` in a file and then ran it with `ruby my_file.rb` I got `UTF-8`. So the encoding d

[2020-08-19 08:15] github0013 commented on #596
@stmichael

This is how I fixed this problem currently.
https://github.com/prettier/plugin-ruby/pull/597

[2020-08-19 15:01] #612 closed

[2020-08-19 16:09] kddeisz commented on #596
@stmichael that's the ticket! Thank you for finding that. Because of that investigation, I was finally able to track it down to:

[code]

That will reliably fail. I will add something that will detect the default encoding and handle it appropriately.

[2020-08-20 09:02] stmichael commented on #586
I'm experiencing the same issue. My setup:

* Ruby: 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux]
* NodeJS: v12.18.3
* Prettier: 2.0.5
* @prettier/plugin-ruby: 0.19.0

I'm running prettier through NodeJS.

### Input

[code]

### Current output

[code]

[code]

### Expected output

I couldn't find any guidelines on the web concerning such a case and I don't have a strong opinion on it. The mo

[2020-08-25 09:57] mmainz opened #621 "Can't spawn ruby process in Docker container"
I'm trying to run prettier inside of a Docker container. With the new version, that fails with the following error:

[code]

I made a minimal Dockerfile to reproduce the error. Just put this in a directory and run `docker build .`

[code]

I think I already found the cause, PR is on it's way.

## Metadata

* Ruby version: 2.7.1
* @prettier/plugin-ruby version: 0.19.1

[2020-08-28 12:54] #621 closed

[2020-08-31 11:00] DanAndreasson commented on #370
Would it be possible to disable prettifying comments until this has been resolved?

[2020-09-01 12:43] dhughes opened #624 "Formatting heredocs with chained methods that passed as an argument to methods that accept multiple arguments results in invalid Ruby source code"
## Metadata

* Ruby version: 2.6.3
* @prettier/plugin-ruby version: 0.20.0

## Input

[code]

The significant bit about the input is the `.upcase` on the `ARG1` heredoc. This appears to confuse prettier and the following comma is moved after the end of the heredoc, which is invalid syntax.

## Current output

[code]

## Expected output

[code]

With regards to the expected output, this is based of

[2020-09-01 15:18] seamusabshere commented on #624
FWIW, putting parens around the `<<~ARG1` will "fix" this

[code]

->

[code]

[2020-09-01 16:05] dhughes commented on #624
While I understand you point, I don't think you should have to write your code to satisfy the tool that is trying to format it for you.

[2020-09-02 18:24] seamusabshere commented on #571
yep i'm seeing this too

[2020-09-04 20:38] kddeisz commented on #551
Fixed on master! Out in the next release

[2020-09-04 20:38] #551 closed

[2020-09-04 22:28] kddeisz commented on #568
Hi there! I've extracted the HAML plugin to its own JS package in `@prettier/plugin-haml`. It now lives over here: https://github.com/prettier/plugin-haml. Please try out that package and let me know if you experience trouble over on that repo. Thanks!!

[2020-09-04 22:31] kddeisz commented on #583
Please feel free to reopen if you're still experiencing trouble with the NPM package.

[2020-09-04 22:31] #583 closed

[2020-09-05 05:07] ftes commented on #551
Neat, thank you!

On Fri, Sep 4, 2020, 22:38 Kevin Deisz <notifications@github.com> wrote:

[2020-09-08 12:59] dhughes commented on #624
Based on plugin-ruby's behavior, it seems like the project prefers to format heredocs-as-arguments like this:

Input:

[code]

Output:

[code]

It's actually hard to come up with alternative input formats that are valid Ruby that aren't the preferred format.

This happens to be true with multiple heredoc arguments too:

[code]

My real question is, is the formatting above preferable to something l

[2020-09-08 13:25] kddeisz commented on #624
The original syntax:

[code]

is what I'd like to support. tbh this is hard, and it's taking quite a while to get it working. That being said, I'm sure there's a way, it's just going to take a little bit of time.

I'm taking this opportunity to review everything that can be chained onto the end of that, and it's kind of daunting just because you can end up in stupid situations like this:

[code]

[2020-09-08 13:47] dhughes commented on #624
Oh, I totally forgot to say thanks. A coworker and I were looking into this problem as well, so we'd be happy to take some of the work off your shoulders, if you'd like.

[2020-09-08 14:13] jbielick commented on #624
@kddeisz kudos to you for tackling that more native formatting—it seems difficult to support. One notable challenge in my mind was that technically the chaining (if left on the existing line) could exceed the column limit, but breaking a line would not be possible, so a `softline` or such may not work?

For example:

[code]

Column limit 80 would be around `new[here]url` and 100 would be at `sel[h

[2020-09-09 14:12] seamusabshere commented on #624
I think there are 2 issues here:

1. incorrect output is generated
2. there is discussion of what the ideal output is

is there a solution to (1)?

[2020-09-10 15:30] dhughes commented on #624
@seamusabshere I think that's what @jbielick is saying. Can we just find a quick solution that addresses item 1 and maybe open a new issue to address item 2 separately?

[2020-09-10 15:39] seamusabshere commented on #624
(i so wish i had a few days to dive into this and solve it myself... maybe i will this weekend)

[2020-09-22 08:18] Jukejc opened #639 "comparison operators being incorrectly formatted"
## Metadata

* Ruby version: 2.5
* @prettier/plugin-ruby version: 0.20.1

## Input

[code]

## Output

[code]

it appears that comparison operators are being formatted incorrectly

## before

- `return '12345' if number.length <= 4 # '...2345'`
- `return '1234' if number.length <= 4 # '1234'`

## after

- `return '12345' if number.length > 4 # '12345'`
- `return '123' if number.length > 4` which l

[2020-09-22 13:55] kddeisz commented on #639
I don't know what your dev setup looks like, but this isn't prettier. Prettier will never ever ever change the actual meaning of your program, and this is 100% doing that by changing `numbers.length.<=(4)` to `numbers.length.>(4)`.

Any chance you're also running rubocop with autocorrect or something?

[2020-09-22 18:40] Jukejc commented on #639
i added some additional logging and ran prettier with ``--debug-check`

heres additional debug output

## `--loglevel=debug`

[code]
## `--debug-check`

[code]

[2020-09-22 19:39] kddeisz commented on #639
If you put that file into the root of this repository as `test.rb` and then run `bin/print test.rb` what do you get?

[2020-09-22 19:49] Jukejc commented on #639
`▶ bin/print test.rb`

[code]

it would seem that it has something to do with my dev setup or the version of ruby i'm using after all

[2020-09-22 19:53] kddeisz commented on #639
I have absolutely no idea what would replace `<=` with `>`, but I'm triple checking the code and I've got nothing.

[2020-09-22 19:53] #639 closed

[2020-09-22 21:11] buckmaxwell commented on #370
Just running into this. Any current status update or branch I could look at with a start of a fix?

[2020-09-22 21:12] kddeisz commented on #370
@buckmaxwell you can check out the better-comments branch.

[2020-09-22 21:51] Jukejc commented on #639
i managed to pinpoint it down to the repos version of jruby `jruby-9.2.13.0` (`ruby 2.5.7`). interestingly enough it actually converts all comparison operators to `>`

### input

[code]

### output

[code]

definitely nothing wrong with `plugin-ruby` but figured id share the result.

thanks for looking into this

[2020-09-22 22:44] kddeisz commented on #639
Oh interesting! I hadn't considered other Ruby runtimes, that makes total sense. They've probably got some slick deoptimization thing doing on.

[2020-09-24 00:22] abhchand commented on #577
I'm also seeing this - is there any update on what a fix could be?

It also fails when comments are not inline

[code]

When I remove the comments it works without error.

[2020-09-24 15:08] kddeisz opened #640 "Flow keywords shouldn't skip parentheses in some cases"
In some cases where we have a `_mod` node inside a flow keyword (`break`, `next`, `return`, etc.) we can't skip past parentheses because it will change the meaning of the program.

For example this is safe:

[code]

This is not safe:

[code]

[2020-09-25 13:32] #640 closed

[2020-09-25 16:50] kddeisz commented on #639
@Jukejc I opened this issue on jruby as a result: https://github.com/jruby/jruby/issues/6413

[2020-10-06 15:22] alan-pie commented on #371
Would still love to see this in Prettier. It would allow us to reduce the number of formatters we have in our project by 1 which is always great.

[2020-10-06 17:22] kddeisz commented on #371
What are you currently using to format erb?

On Tue, Oct 6, 2020 at 11:23 AM Alan Savage <notifications@github.com>
wrote:

--
*Kevin D. Deisz*
Staff Production Engineer
Shopify <https://www.shopify.com/>

[2020-10-06 17:37] alan-pie commented on #371
Rufo

On Tue, Oct 6, 2020, 10:22 AM Kevin Deisz <notifications@github.com> wrote:

[2020-10-06 17:38] kddeisz commented on #371
Nice! I didn’t know Rufo had support for ERB. I’ll have to check out how
they do it

On Tue, Oct 6, 2020 at 1:37 PM Alan Savage <notifications@github.com> wrote:

--
*Kevin D. Deisz*
Staff Production Engineer
Shopify <https://www.shopify.com/>

[2020-10-06 20:47] alan-pie commented on #576
I think this also happens if there is an empty case at the end of a multi-case statement

[2020-10-08 16:08] jbielick commented on #624
I'm assuming no progress has been made here, but as we mentioned, we'd love to help if there was a consensus on the approach. We'll fork and do some exploration ourselves w/ internal use. Would love to work back to upstream at some point.

[2020-10-08 16:14] kddeisz commented on #624
In terms of just plain approach, I think we shouldn't break at all if folks are going to chain methods onto heredocs.

So

[code]

would stay exactly the same. If you have the opportunity to work on this, please do!

[2020-10-08 21:01] jbielick commented on #624
@kddeisz what should prettier produce if that method chain exceeded the line length limit? Unmodified?

[2020-10-09 15:07] kddeisz commented on #624
Yeah I'd leave it the same even if it hits the line limit.

[2020-10-09 15:09] kddeisz commented on #624
The `removeLines` utility from prettier will be useful here. Sorry I don't have time to deal with the one at the moment. New kid at home. I'll get to this eventually but if you have time to take it on that'd be awesome.

[2020-10-09 15:39] jbielick commented on #624
No apology necessary. I appreciate the tip. I’ll look into it.

[2020-10-10 22:25] jbielick commented on #624
Following up here...

I started working through one issue at a time and writing tests that account for this issue and the others around heredocs.

prettier/plugin-ruby#624, prettier/plugin-ruby#586, prettier/plugin-ruby#316, and prettier/plugin-ruby#301

After reading through the code and getting familiar with prettier's design (printing, docs, etc), I think something that stood out to me was that

[2020-10-11 15:50] jbielick commented on #624
In case you're not sold on the "always break the group" side effect of the above proposed, here's a commit in which I used a "line literal without break-parent" (same as line literal, but no "break-parent" node in the doc).

https://github.com/AdWerx/plugin-ruby/commit/3c16d2f7b8cf71888efc59ab14f3c94e0d0df283

The result: best of both worlds? All code handling heredocs manually is removed, lines d

[2020-10-11 16:09] kddeisz commented on #624
Thanks so much for all this! I’ll take a look as soon as I can.

On Sun, Oct 11, 2020 at 11:50 AM Josh Bielick <notifications@github.com>
wrote:

--
*Kevin D. Deisz*
Staff Production Engineer
Shopify <https://www.shopify.com/>

[2020-10-12 15:36] chrisw- commented on #371
Just FYI, I use https://github.com/threedaymonk/htmlbeautifier which works ok.

[2020-10-12 19:16] jbielick opened #651 "Lambda literal arguments invalid after formatting"
Documenting this here and will open a PR for it.

## Metadata

* Ruby version: 2.6
* @prettier/plugin-ruby version: 0.20.1

## Input

[code]

## Current output

[code]

## Expected output

[code]

## Reasoning

The current output is invalid ruby syntax. I did my best to read through the ruby grammar (`parse.y`) and determine why a unary (`!`) would be valid in `->(...)`, but not in `do |...|` and

[2020-10-12 19:18] jbielick commented on #651
For what it's worth, these were my notes from tracing what grammar might be used for each case:

[code]

[code]

[code]

[code]

[2020-10-13 14:13] johannesluedke opened #653 "TypeError possible due to array content beginning with a comment"
## Metadata

* Ruby version: 2.7.1
* @prettier/plugin-ruby version: 0.20.1 (also in 0.19.0)

## Input

[code]

leads to `TypeError: Cannot read property 'type' of undefined`

[2020-10-13 21:09] jbielick commented on #653
This appears to be a duplicate of #577

[2020-10-17 15:08] #651 closed

[2020-11-06 18:33] gitjul commented on #370
is there a way to disable moving comments whatsoever? it's really irritating and e.g. prevents adding rubocop comments

[2020-11-06 20:57] buckmaxwell commented on #370
Honestly that would probably be the best solution. As it is now it's just
downright broken.

On Fri, Nov 6, 2020, 1:33 PM Julia Jacobs <notifications@github.com> wrote:

[2020-11-06 20:59] kddeisz commented on #370
If either of y’all have time to open a PR I would immediately approve that.
If not, you’re gonna have to wait. Got a new kid at home and need to do
that for a while before I come back to this.

On Fri, Nov 6, 2020 at 3:57 PM Max Buck <notifications@github.com> wrote:

--
*Kevin D. Deisz*
Staff Production Engineer
Shopify <https://www.shopify.com/>